---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: democratic-csi
  namespace: flux-system
spec:
  interval: 1h
  timeout: 3m0s
  url: https://democratic-csi.github.io/charts/