---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: spegel
  namespace: flux-system
spec:
  interval: 10m0s
  timeout: 3m0s
  type: oci
  url: oci://ghcr.io/spegel-org/helm-charts