---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: tailscale
  namespace: flux-system
spec:
  interval: 10m0s
  timeout: 3m0s
  url: https://pkgs.tailscale.com/helmcharts/
