---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app actual
  namespace: *app
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: *app
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/envoy-internal: allow
            authentik.home.arpa/oidc: allow
            # egress.home.arpa/internet: allow
        containers:
          app:
            image: &img
              repository: ghcr.io/actualbudget/actual-server
              tag: 26.2.1@sha256:ea21a0b6243797d35ef6c4a8713c87efaba8fec3b3663220fa3af61f352fba5e
            env: &env
              TZ: "${CONFIG_TZ}"
              ACTUAL_PORT: &http 5006
              ACTUAL_DATA_DIR: &pvc /data
              ACTUAL_MULTIUSER: "true"
              ACTUAL_LOGIN_METHOD: openid
              ACTUAL_ALLOWED_LOGIN_METHODS: openid
              ACTUAL_OPENID_PROVIDER_NAME: "JJGadgets Auth"
              ACTUAL_OPENID_SERVER_HOSTNAME: "https://${APP_DNS_ACTUAL}"
              ACTUAL_TRUSTED_PROXIES: "${IP_POD_CIDR_V4}"
            envFrom: &envFrom
              - secretRef:
                  name: actual-secrets
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1"
                memory: "512Mi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
        initContainers:
          01-enable-openid:
            image: *img
            env: *env
            envFrom: *envFrom
            securityContext: *sc
            # command: ["npm", "run", "enable-openid", "--prefix", "/app"]
            command: ["tini", "-g", "--", "/bin/sh", "-c"]
            args: ["npm run enable-openid --prefix /app || true"]
    service:
      app:
        controller: app
        ports:
          http:
            port: 80
            targetPort: *http
            protocol: HTTP
            appProtocol: http
    route:
      app:
        hostnames: ["${APP_DNS_ACTUAL:=actual}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
    persistence:
      data:
        existingClaim: actual-data
        advancedMounts:
          app:
            app:
              - subPath: data
                path: /data
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      # hostUsers: false
      runtimeClassName: kata
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 1000
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/{{ .Release.Name }}"
                    operator: DoesNotExist
