---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-storage-csi-addons-app
  namespace: flux-system
  labels: # for my repo's Fluxtomization patching, can be ignored for those passing by
    kustomization.flux.home.arpa/name: "kubevirt"
    kustomization.flux.home.arpa/default: "false"
    kustomization.flux.home.arpa/helmpatches: "false"
    substitution.flux.home.arpa/disabled: "true"
    prune.flux.home.arpa/disabled: "true"
spec:
  interval: 5m
  prune: false
  wait: true
  sourceRef:
    kind: GitRepository
    name: csi-addons
  dependsOn: []
