---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: csi-addons
  namespace: flux-system
spec:
  interval: 10m0s
  url: https://github.com/csi-addons/kubernetes-csi-addons
  ref:
    tag: v0.12.0
  ignore: |
    # exclude all to whitelist
    /*
    # include manifests to deploy
    !/deploy/controller/crds.yaml
    !/deploy/controller/rbac.yaml
    !/deploy/controller/setup-controller.yaml