---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: cert-manager-source
  namespace: flux-system
spec:
  interval: 12h
  url: https://github.com/cert-manager/cert-manager.git
  ref:
    # renovate: registryUrl=https://charts.jetstack.io chart=cert-manager
    tag: v1.17.1
  ignore: |
    # exclude all
    /*
    # include crd directory
    !/deploy/crds
    # exclude file extensions from crd dir
    /deploy/crds/*.md
    /deploy/crds/*.bazel
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-tls-cert-manager-crds
  namespace: flux-system
  labels: # for my repo's Fluxtomization patching, can be ignored for those passing by
    kustomization.flux.home.arpa/name: "flux"
    kustomization.flux.home.arpa/default: "false"
    kustomization.flux.home.arpa/helmpatches: "false"
    substitution.flux.home.arpa/disabled: "true"
    prune.flux.home.arpa/disabled: "true"
spec:
  interval: 30m
  prune: false
  wait: true
  dependsOn: []
  sourceRef:
    kind: GitRepository
    name: cert-manager-source
  # Remove the Helm templating from labels and annotations
  patches:
    - target:
        version: v1
        kind: CustomResourceDefinition
      patch: |-
        - op: replace
          path: /metadata/labels/app
          value: cert-manager
        - op: replace
          path: /metadata/labels/app.kubernetes.io~1name
          value: cert-manager
        - op: replace
          path: /metadata/labels/app.kubernetes.io~1instance
          value: cert-manager
        - op: add
          path: /metadata/labels/app.kubernetes.io~1version
          # renovate: registryUrl=https://charts.jetstack.io depName=cert-manager
          value: v1.8.0
        - op: remove
          path: /metadata/annotations
