---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app navidrome
  namespace: &ns media
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: *ns
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/envoy-internal: allow
            prom.home.arpa/kps: allow
            # egress.home.arpa/internet: allow
          annotations:
            fluentbit.io/parser: "logfmt"
        containers:
          app:
            image: &img
              repository: ghcr.io/navidrome/navidrome
              tag: 0.60.2@sha256:1b3f9556fc4f70cb1c2d3995543e734bdc90c762c9c6ee9a7c5f6a9745efbc3e
            env:
              TZ: "${CONFIG_TZ}"
              ND_BASEURL: "https://${APP_DNS_NAVIDROME}"
              ND_MUSICFOLDER: "/media"
              ND_DATAFOLDER: "/data"
              ND_CACHEFOLDER: "/data/cache"
              ND_PORT: &http 8080
              ND_COVERJPEGQUALITY: "100"
              ND_DEFAULTTHEME: Dark
              ND_ENABLEGRAVATAR: "false"
              ND_IMAGECACHESIZE: "1GB"
              ND_TRANSCODINGCACHESIZE: 5GB
              ND_SEARCHFULLSTRING: "true"
              ND_SUBSONICARTISTPARTICIPATIONS: "true"
              ND_ENABLETRANSCODINGCONFIG: "${CONFIG_NAVIDROME_TRANSCODE_UI:=false}"
              ND_UILOGINBACKGROUNDURL: https://jjgadgets.tech/images/cover.png
              ND_UIWELCOMEMESSAGE: "Welcome to JJGadgets Music."
              ND_PROMETHEUS_ENABLED: "true"
              ND_PROMETHEUS_METRICSPATH: &metrics /metrics
              ND_EXTAUTH_USERHEADER: X-authentik-username
              ND_EXTAUTH_TRUSTEDSOURCES: "${IP_POD_CIDR_V4:=127.0.0.1/32},127.0.0.1/32,::1/128"
              ND_ENABLEINSIGHTSCOLLECTOR: "false"
              ND_LISTENBRAINZ_ENABLED: "true"
              ND_LISTENBRAINZ_BASEURL: "http://maloja.maloja.svc.cluster.local/apis/listenbrainz/1/"
            envFrom: &envFrom
              - secretRef:
                  name: navidrome-secrets
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1"
                memory: "200Mi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      app:
        controller: app
        ports:
          http:
            port: 80
            targetPort: *http
            protocol: HTTP
            appProtocol: http
    route:
      app: &route
        hostnames: ["${APP_DNS_NAVIDROME:=navidrome}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
      subsonic: # bypass forward auth
        <<: *route
        rules:
          - matches:
              - path:
                  value: /rest
                  type: PathPrefix
            backendRefs:
              - identifier: app
                port: 80
    persistence:
      data:
        existingClaim: navidrome-data
        advancedMounts:
          app:
            app:
              - subPath: data
                path: /data
      media:
        existingClaim: media-data
        advancedMounts:
          app:
            app:
              - subPath: Music
                path: /media/ceph
                readOnly: true
            # edit:
            #   - &mount
            #     subPath: Music
            #     path: /media/ceph
            # app:
            #   - <<: *mount
            #     readOnly: true
      bulk:
        existingClaim: media-bulk
        advancedMounts:
          app:
            app:
              - subPath: music-edit-venv
                path: /config/.venv
      nfs:
        type: nfs
        server: "${IP_TRUENAS:=127.0.0.1}"
        path: "${PATH_NAS_MEDIA:=/media}"
        advancedMounts:
          app:
            app:
              - subPath: Music
                path: /media/nfs
                readOnly: true
            # edit:
            #   - &mount
            #     subPath: Music
            #     path: /media/nfs
            # app:
            #   - <<: *mount
            #     readOnly: true
      tmp:
        type: emptyDir
      ffmpeg:
        type: image
        image:
          repository: ghcr.io/jellyfin/jellyfin
          tag: 10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e
        globalMounts:
          - subPath: usr/lib/jellyfin-ffmpeg
            path: /usr/lib/jellyfin-ffmpeg
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      hostUsers: true
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 6969
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: fuckoff.home.arpa/navidrome
                    operator: DoesNotExist
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: *metrics
    networkpolicies:
      to-maloja:
        controller: app
        policyTypes: [Egress]
        rules:
          egress:
            - to:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/name: maloja
                  namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: maloja
