---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app satisfactory
  namespace: *app
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      satisfactory:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/lan: allow
            ingress.home.arpa/jjgadgets: allow
            ingress.home.arpa/wg-guest: allow
            egress.home.arpa/internet: allow
        containers:
          main: &ct
            image: &img
              repository: docker.io/wolveix/satisfactory-server
              tag: v1.9.5@sha256:88507d728a683714a4fac54d881a8f80db418509bc7db7bad660deda64b72247
            securityContext: &sc
              runAsUser: &uid ${APP_UID_SATISFACTORY:=1000}
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            env: &env
              TZ: "${CONFIG_TZ}"
              ROOTLESS: "true"
              AUTOPAUSE: "true"
              AUTOSAVEINTERVAL: "60"
              AUTOSAVENUM: "60"
              AUTOSAVEONDISCONNECT: "true"
              CRASHREPORT: "false"
              MAXPLAYERS: "4"
              MAXTICKRATE: "120" # default is a low 30
              NETWORKQUALITY: "3" # 0-3, 3 is Ultra (default)
              #PGID: *uid
              #PUID: *uid
              TIMEOUT: "300"
            resources:
              requests:
                cpu: "200m"
              limits:
                cpu: "3000m"
                memory: "20Gi"
        initContainers:
          01-cp:
            <<: *ct
            command: ["/bin/sh", "-c", "cp -r /home/steam/. /home/fake/"]
            resources: {}
    service:
      satisfactory:
        controller: satisfactory
        type: LoadBalancer
        annotations:
          coredns.io/hostname: "${APP_DNS_SATISFACTORY:=satisfactory}"
          "io.cilium/lb-ipam-ips": "${APP_IP_SATISFACTORY:=127.0.0.1}"
        ports:
          game:
            port: 7777
            protocol: UDP
          beacon:
            port: 15000
            protocol: UDP
          query:
            port: 15777
            protocol: UDP
    persistence:
      data:
        existingClaim: satisfactory-data
        globalMounts:
          - path: /config
      game:
        existingClaim: satisfactory-game
        globalMounts:
          - subPath: game
            path: /config/gamefiles
      tmp:
        type: emptyDir
        medium: Memory
        advancedMounts:
          satisfactory:
            01-cp:
              - subPath: configdir
                path: /home/fake
            main:
              - subPath: configdir
                path: /home/steam
              - subPath: tmp
                path: /tmp
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: *uid
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: fuckoff.home.arpa/satisfactory
                    operator: DoesNotExist
