---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: "kubernetes"
spec:
  provider:
    kubernetes:
      server:
        url: "https://kubernetes.default.svc.cluster.local:443"
        caProvider:
          type: "ConfigMap"
          name: "kube-root-ca.crt"
          namespace: "external-secrets"
          key: "ca.crt"
      auth:
        serviceAccount:
          name: "external-secrets-kubernetes-provider"
          namespace: "external-secrets"