---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: external-dns-git
  namespace: flux-system
spec:
  interval: 30m
  url: https://github.com/kubernetes-sigs/external-dns.git
  ref:
    tag: v0.15.1
  ignore: |
    # exclude all
    /*
    # include deploy crds dir
    !/docs/contributing/crd-source/crd-manifest.yaml
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-dns-external-dns-crds
  namespace: flux-system
  labels: # for my repo's Fluxtomization patching, can be ignored for those passing by
    kustomization.flux.home.arpa/name: "kubevirt"
    kustomization.flux.home.arpa/default: "false"
    kustomization.flux.home.arpa/helmpatches: "false"
    substitution.flux.home.arpa/disabled: "true"
    prune.flux.home.arpa/disabled: "true"
spec:
  interval: 5m
  prune: false
  wait: true
  dependsOn: []
  sourceRef:
    kind: GitRepository
    name: external-dns-git