---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.4.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app open-webui
  namespace: *app
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      open-webui:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/nginx-internal: allow
            authentik.home.arpa/https: allow
            #egress.home.arpa/nginx-internal: allow
        containers:
          main:
            image: &img
              repository: ghcr.io/open-webui/open-webui
              tag: v0.6.2@sha256:79f5f3ac1d2b41184e48a163ea9a7b9de42dea2111f7832017ddef385ead8369
            env: &env
              TZ: "${CONFIG_TZ}"
              # General
              WEBUI_NAME: "${CLUSTER_NAME}"
              WEBUI_URL: "https://${APP_DNS_OPEN_WEBUI}"
              GLOBAL_LOG_LEVEL: "DEBUG"
              # Backends
              OPENAI_API_BASE_URLS: "http://mlc-llm-llama3.mlc-llm.svc.cluster.local:8080/v1;http://mlc-llm-phi3.mlc-llm.svc.cluster.local:8080/v1,http://mlc-llm-r1-qwen-32b.mlc-llm.svc.cluster.local:8080/v1"
              OPENAI_API_KEY: "fuck" # key required even if bogus and/or server doesn't give a fuck
              ENABLE_OLLAMA_API: "False" # to prevent app from attempting to hit Ollama
              # Airgap
              RAG_EMBEDDING_ENGINE: "openai"
              LITELLM_LOCAL_MODEL_COST_MAP: "True"
              # Security
              WEBUI_SESSION_COOKIE_SAME_SITE: "lax" # OIDC needs lax
              WEBUI_SESSION_COOKIE_SECURE: "True"
              # Auth
              ENABLE_LOGIN_FORM: "False"
              ENABLE_OAUTH_SIGNUP: "True"
              OAUTH_PROVIDER_NAME: "JJGadgets Auth"
              OAUTH_USERNAME_CLAIM: "preferred_username"
              OPENID_PROVIDER_URL: "https://${APP_DNS_AUTHENTIK}/application/o/open-webui/.well-known/openid-configuration"
            envFrom: &envFrom
              - secretRef:
                  name: open-webui-secrets
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1000m"
                memory: "1Gi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              #startup:
              #  enabled: true
    service:
      open-webui:
        controller: open-webui
        ports:
          http:
            port: 8080
            protocol: HTTP
            appProtocol: http
    ingress:
      main:
        className: nginx-internal
        hosts:
          - host: &host "${APP_DNS_OPEN_WEBUI:=open-webui}"
            paths: &paths
              - path: /
                pathType: Prefix
                service:
                  identifier: open-webui
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      data:
        existingClaim: open-webui-data
        globalMounts:
          - subPath: data
            path: /app/backend/data
      tmp:
        type: emptyDir
        medium: Memory
        globalMounts:
          - subPath: tmp
            path: /tmp
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
        - ip: "0.0.0.0"
          hostnames: ["api.github.com"] # disable version checks
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid ${APP_UID_OPEN_WEBUI:=1000}
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: fuckoff.home.arpa/open-webui
                    operator: DoesNotExist
    networkpolicies:
      to-llm:
        podSelector: {}
        policyTypes: [Ingress, Egress]
        rules:
          egress:
            - to:
                - namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: mlc-llm
