---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.7.3/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app insurgency-sandstorm
  namespace: *app
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      insurgency-sandstorm:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/world: allow
            dns.home.arpa/l7: "true"
        containers:
          main:
            image: &img
              repository: docker.io/andrewmhub/insurgency-sandstorm
              tag: lite@sha256:9132cb928efe06f8189f3d7d901ac8a8cb2837923ebebdc712ce633ffb512b5d
            command: ["/home/steam/steamcmd/sandstorm/Insurgency/Binaries/Linux/InsurgencyServer-Linux-Shipping"]
            args: ['-hostname="$(HOSTNAME)"', "-Log", "-Port=$(PORT)", "-QueryPort=$(QUERYPORT)", "-MapCycle=MapCycle", "-NoEAC", "-EnableCheats", "-Mods", '-CmdModList="${CONFIG_SANDSTORM_MODS}"', "-mutators=${CONFIG_SANDSTORM_MUTATORS}", "-ModDownloadTravelTo=${CONFIG_SANDSTORM_INIT_MAP}?Scenario=Scenario_${CONFIG_SANDSTORM_INIT_MAP}_${CONFIG_SANDSTORM_INIT_SCENARIO}?Password=$(PASSWORD)"]
            env: &env
              TZ: "${CONFIG_TZ}"
              HOSTNAME: "${CONFIG_SANDSTORM_NAME}"
              PORT: &port 27102
              QUERYPORT: &query 27131
              PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: insurgency-sandstorm-secrets
                    key: SECRET_SANDSTORM_PASSWORD
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "100m"
              limits:
                cpu: "2"
                memory: "2Gi"
            # probes: # TODO
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true
      download:
        type: cronjob
        cronjob:
          schedule: "@daily"
          concurrencyPolicy: "Replace"
        pod:
          labels:
            egress.home.arpa/internet: allow
        containers:
          main:
            image: *img
            command: ["/home/steam/steamcmd/steamcmd.sh"] # script contains a ulimit command that won't run on Talos 1.9+
            # command: ["/bin/sh", "-c", "LD_LIBRARY_PATH=/home/steam/steamcmd/linux32:$(LD_LIBRARY_PATH) /home/steam/steamcmd/linux32/steamcmd"]
            args: ["+force_install_dir", "/home/steam/steamcmd/sandstorm/", "+login", "anonymous", "+app_update", "581330", "validate", "+quit"]
            securityContext:
              <<: *sc
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: "300m"
              limits:
                cpu: "1"
                memory: "512Mi"
    service:
      insurgency-sandstorm:
        controller: insurgency-sandstorm
        type: LoadBalancer
        annotations:
          coredns.io/hostname: "${APP_DNS_SANDSTORM:=insurgency-sandstorm}"
          "io.cilium/lb-ipam-ips": "${APP_IP_SANDSTORM:=127.0.0.1}"
        ports:
          game:
            port: *port
            protocol: UDP
          query:
            port: *query
            protocol: UDP
    persistence:
      misc:
        existingClaim: insurgency-sandstorm-misc
        globalMounts:
          - subPath: data
            path: /home/steam/steamcmd/sandstorm
      config:
        type: configMap
        name: insurgency-sandstorm-config
        globalMounts:
          - subPath: Game.ini
            path: /home/steam/steamcmd/sandstorm/Insurgency/Saved/Config/LinuxServer/Game.ini
          - subPath: Engine.ini
            path: /home/steam/steamcmd/sandstorm/Insurgency/Saved/Config/LinuxServer/Engine.ini
          - subPath: MapCycle.txt
            path: /home/steam/steamcmd/sandstorm/Insurgency/Config/Server/MapCycle.txt
          - subPath: Mods.txt
            path: /home/steam/steamcmd/sandstorm/Insurgency/Config/Server/Mods.txt
      secrets:
        type: secret
        name: insurgency-sandstorm-secrets
        globalMounts:
          - subPath: GameUserSettings.ini
            path: /home/steam/steamcmd/sandstorm/Insurgency/Saved/Config/LinuxServer/GameUserSettings.ini
          - subPath: Admins.txt
            path: /home/steam/steamcmd/sandstorm/Insurgency/Config/Server/Admins.txt
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      # runtimeClassName: gvisor
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 1001 # `steam` user, 1000 is `ubuntu` user
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: fuckoff.home.arpa/insurgency-sandstorm
                    operator: DoesNotExist
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 25
              preference:
                matchExpressions:
                  - key: "kubernetes.io/hostname"
                    operator: In
                    values: ["dorothy"] # MS01
            - weight: 20
              preference:
                matchExpressions:
                  - key: "kubernetes.io/hostname"
                    operator: In
                    values: ["thunderscreech"] # R730xd VM, because it can't run VMs so let others run VMs
            - weight: 15
              preference:
                matchExpressions:
                  - key: "kubernetes.io/hostname"
                    operator: In
                    values: ["ange", "charlotte"] # i5-8500T
            - weight: 10
              preference:
                matchExpressions:
                  - key: "kubernetes.io/hostname"
                    operator: In
                    values: ["chise"] # i3-8100
