ignore/
not-done/
.local/
.local/*
kubeconfig
talosconfig
clusterconfig/
**/clusterconfig
**/clusterconfig/*
**/charts/cilium/*
**/cilium*/app/bootstrap-install/charts/*
**/cilium*/app/bootstrap-install/base-values.yaml
.pem
.key
.pub
.agekey
Admins.txt
GameUserSettings.ini
!ostree/*-jj.repo
ostree/*.repo
*.sops.*.tmp
*.code-workspace
#*venv*/**
.decrypted~*
.ignore~*
