ignore/
not-done/
.local/
.local/*
kubeconfig
talosconfig
clusterconfig/
**/clusterconfig
**/clusterconfig/*
**/cilium/app/bootstrap-install/charts/*
.pem
.key
.pub
.agekey
Admins.txt
GameUserSettings.ini
*.sops.*.tmp
*.code-workspace
