[env]
_.path = ["{{env.HOME}}/.krew/bin"]
_.python.venv = { path = ".venv", create = true } # create the venv if it doesn't exist
KUBECTL_INTERACTIVE_DELETE = "true"
KUBECTL_COMMAND_HEADERS = "true"
K9S_CONFIG_DIR = "{{config_root}}/dots/k9s"
K9S_DEFAULT_PF_ADDRESS = "[::]"
K9S_FG_NODE_SHELL = "true"
#SSH_AUTH_SOCK = $(gpgconf --list-dirs agent-ssh-socket)
UV_PYTHON = "3.11"
CARAPACE_BRIDGES = "zsh,fish,bash,inshellisense"
# GITHUB_TOKEN = $(gh auth token)

[settings]
experimental = true # Cargo backend
python_venv_auto_create = true
python_default_packages_file = "{{config_root}}/.venv/.mise-py-pkg"
pipx_uvx = true

[tools]
"aqua:jdx/mise" = ["2026.2.11"]
"aqua:fish-shell/fish-shell" = ["4.4.0"]
"aqua:neovim" = ["0.11.6"]
"aqua:starship/starship" = ["1.24.2"]
"aqua:kubernetes/kubectl" = ["1.34.0"]
"aqua:kubecolor/kubecolor" = ["0.5.3"]
"aqua:kubernetes-sigs/krew" = ["0.4.5"]
"ubi:brumhard/krewfile" = ["0.7.0"]
"aqua:ahmetb/kubectx" = ["0.9.5"]
"aqua:junegunn/fzf" = ["0.67.0"] # used by kubectx interactive mode
"aqua:BurntSushi/ripgrep" = ["15.1.0"]
"aqua:kubernetes-sigs/kustomize" = ["5.3.0"]
"aqua:helm" = ["3.20.0"]
"aqua:fluxcd/flux2" = ["2.7.5"]
"aqua:siderolabs/talos" = ["1.10.3"]
"aqua:budimanjojo/talhelper" = ["3.1.4"]
"aqua:go-task/task" = ["3.48.0"]
"aqua:stern" = ["1.33.1"]
"aqua:cilium/cilium-cli"= ["0.19.0"]
"aqua:1password/cli" = "latest"
"aqua:restic" = ["0.18.1"]
"aqua:derailed/k9s" = ["0.50.18"]
soft-serve = ["0.7.4"]
#pulumi = ["3.95.0"]
"aqua:mikefarah/yq" = ["4.52.2"]
"aqua:jq" = ["1.8.1"]
"aqua:cli/cli" = ["2.86.0"] # GitHub CLI
"aqua:termkit/gama" = ["1.2.1"] # GHA TUI
"ubi:CrunchyData/postgres-operator-client" = { version = "0.5.3" }
"ubi:jkulzer/kubefetch" = ["0.8.1"]
"ubi:wagoodman/dive" = ["0.13.1"]
"ubi:theimpostor/osc" = ["0.4.8"]
# experimental backends, use `mise up` to install because `mise install` is currently broken for these https://github.com/jdx/mise/issues/2458
python = ["3.14.3"]
"aqua:astral-sh/uv" = ["0.10.2"] # faster than pipx, and can be installed with mise directly
"pipx:flux-local" = ["8.1.0", "5.5.1"]
"pipx:pipx" = ["1.8.0"]
"pipx:robusta-dev/krr" = { version = "v1.28.0", uvx_args = "--no-config", matching_regex = "krr-ubuntu-latest" }
"pipx:esphome" = ["2025.12.7"]
# rust = ["1.80.1"]
# "cargo:cargo-binstall" = ["1.10.3"]
"aqua:cargo-bins/cargo-binstall" = ["1.17.5"]
"cargo:atac" = ["0.23.0"] # HTTP requests tester, like Postman
"cargo:viddy" = ["1.1.6"]
go = ["1.26.0"]
# "go:src.elv.sh/cmd/elvish" = ["0.21.0"]
"go:github.com/aymanbagabas/shcopy" = ["0.1.5"] # ANSI OSC52, magic copy to OS via most terminals
"go:github.com/gcla/termshark/v2/cmd/termshark" = ["2.4.0"] # PCAP TUI
# "go:github.com/go-task/task/v3/cmd/task" = ["3.39.2"]
node = ["24.13.1"]
"npm:renovate" = ["43.11.0"]
"npm:handlebars" = ["4.7.8"]
# personal
"cargo:himalaya" = ["1.0.0"] # mail TUI
"ubi:guyfedwards/nom" = ["2.20.0"] # RSS TUI
"aqua:bloznelis/typioca" = ["3.1.0"] # typing test
"go:github.com/digitalghost-dev/poke-cli" = ["1.8.9"] # PokeAPI TUI
# "go:git.sixfoisneuf.fr/termsonic" = ["0.2"]
"pipx:markitdown" = "latest" # MS Office converter
"ubi:Velocidex/velociraptor" = ["0.75"]

[hooks]
postinstall = [
  "krr --install-completion",
  "krew install krew",
  "krewfile -file {{config_root}}/.krewfile",
]

[[hooks.enter]]
shell = "fish"
script = [
  "kubectl completion fish | source",
  "talosctl completion fish | source",
  "flux completion fish | source",
  "yq completion fish | source",
  "flux completion fish | source",
]

