---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: esphome-app
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: "esphome"
spec:
  targetNamespace: "esphome"
  commonMetadata:
    labels: *l
  path: ./kube/deploy/apps/esphome/app
  components:
    - ../../../core/flux-system/alerts/template/
  dependsOn:
    - name: crds
      namespace: flux-system
    - name: esphome-pvc
  postBuild:
    substitute:
      AREA_DNS: >
        $${area | replace("'s", "") | replace("_", "-") | replace(" - ", "-") | replace(" ", "-") | lower}
      AREA_ID: >
        $${area | replace("'", "_") | replace(" - ", "-") | replace(" ", "-") | replace("-", "_") | lower}
      NAME_DNS: >
        $${name | replace("_", "-") | replace(" - ", "-") | replace(" ", "-") | lower}
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: esphome-pvc
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: esphome
    pvc.home.arpa/volsync: "true"
spec:
  targetNamespace: esphome
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/storage/volsync/template
  dependsOn:
    - name: crds
      namespace: flux-system
  postBuild:
    substitute:
      PVC: "esphome-data"
      SIZE: "10Gi"
      SC: &sc "file"
      SNAP: *sc
      ACCESSMODE: "ReadWriteMany"
      SNAP_ACCESSMODE: "ReadOnlyMany"
      VS_APP_CURRENT_VERSION: "ghcr.io/home-operations/esphome:2026.2.1@sha256:49d4fa6fdfc91522afa9f907e24164e42998bee06b4bb01fd67794671f993298"
      RUID: &uid "1000"
      RGID: *uid
      RFSG: *uid
