---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: whoogle
  namespace: whoogle
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    automountServiceAccountToken: false
    controller:
      strategy: RollingUpdate
    fullNameOverride: whoogle
    podLabels:
      ingress.home.arpa/nginx-internal: "allow"
      egress.home.arpa/internet-https: "allow"
    image:
      repository: ghcr.io/benbusby/whoogle-search
      tag: 0.9.1@sha256:f3649f5652495deed4ea228a13bdb54dce480af39ba1e48f11fbab541b68e858
    env:
      HTTPS_ONLY: 0
      WHOOGLE_CONFIG_THEME: dark
      WHOOGLE_CONFIG_SAFE: 0
      WHOOGLE_CONFIG_STYLE: 'body {max-width: 100% !important} :root { --whoogle-dark-logo: #6E6C7E; --whoogle-dark-page-bg: #1E1E2E; --whoogle-dark-element-bg: #302D41; --whoogle-dark-text: #D9E0EE; --whoogle-dark-contrast-text: #F2CDCD; --whoogle-dark-secondary-text: #988BA2; --whoogle-dark-result-bg: #302D41; --whoogle-dark-result-title: #F5E0DC; --whoogle-dark-result-url: #F5E0DC; --whoogle-dark-result-visited: #C9CBFF; } #whoogle-w { fill: #96CDFB; } #whoogle-h { fill: #F28FAD; } #whoogle-o-1 { fill: #FAE3B0; } #whoogle-o-2 { fill: #96CDFB; } #whoogle-g { fill: #ABE9B3; } #whoogle-l { fill: #F28FAD; } #whoogle-e { fill: #FAE3B0; }'
      WHOOGLE_CONFIG_URL: "https://${APP_DNS_WHOOGLE:=whoogle}"
      WHOOGLE_CONFIG_GET_ONLY: 0
      WHOOGLE_CONFIG_VIEW_IMAGE: 1
      WHOOGLE_CONFIG_DISABLE: 1
      WHOOGLE_CONFIG_TOR: 0
      WHOOGLE_TOR_SERVICE: 0
      # WHOOGLE_PROXY_TYPE: "socks5"
      # WHOOGLE_PROXY_LOC: "10.64.0.1:1080"
    service:
      main:
        ports:
          http:
            port: 5000
    ingress:
      main:
        enabled: true
        primary: true
        ingressClassName: "nginx-internal"
        hosts:
          - host: &host "${APP_DNS_WHOOGLE:=whoogle}"
            paths:
            - path: /
              pathType: Prefix
        tls:
          - hosts: [*host]
    resources:
      requests:
        cpu: 5m
        memory: 100Mi
      limits:
        cpu: 3000m
        memory: 250Mi
