---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grocy-app
  namespace: flux-system
spec:
  path: ./kube/deploy/apps/grocy/app
  dependsOn:
    - name: 1-core-storage-rook-ceph-cluster
    - name: 1-core-ingress-nginx-app
    - name: 1-core-storage-volsync-app
