---
# yaml-language-server: $schema=https://crds.jjgadgets.tech/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-issuer-secrets
              key: SECRET_CLOUDFLARE_DNS01_API_TOKEN
---
# yaml-language-server: $schema=https://crds.jjgadgets.tech/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production-shortlived
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    profile: shortlived
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cert-manager-issuer-secrets
              key: SECRET_CLOUDFLARE_DNS01_API_TOKEN
