---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kavita
  namespace: &ns media
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: *ns
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/envoy-internal: allow
            # egress.home.arpa/internet: allow
        containers:
          app:
            image: &img
              repository: ghcr.io/kareadita/kavita
              tag: 0.8.8@sha256:22c42f3cc83fb98b98a6d6336200b615faf2cfd2db22dab363136744efda1bb0
            env: &env
              TZ: "${CONFIG_TZ}"
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "20m"
              limits:
                cpu: "1"
                memory: "512Mi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      app:
        controller: app
        ports:
          http:
            port: 80
            targetPort: 5000
            protocol: HTTP
            appProtocol: http
    route:
      app:
        hostnames: ["${APP_DNS_KAVITA:=kavita}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
    persistence:
      data:
        existingClaim: kavita-data
        advancedMounts:
          app:
            app:
              - path: /kavita/config
      media:
        existingClaim: "media-data" # VolSync
        globalMounts:
          - path: "/media"
            readOnly: true
      bulk:
        existingClaim: "media-bulk" # no backups
        globalMounts:
          - path: "/bulk"
            readOnly: true
      nas:
        type: nfs
        server: "${IP_TRUENAS:=127.0.0.1}"
        path: "${PATH_NAS_MEDIA:=/kavita}"
        globalMounts:
          - path: /nas
            readOnly: true
      backups:
        type: nfs
        server: "${IP_TRUENAS:=127.0.0.1}"
        path: "${PATH_NAS_BACKUPS_K8S:=/backups}"
        globalMounts:
          - subPath: "kavita"
            path: "/kavita/config/backups"
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 16Mi
        globalMounts:
          - subPath: tmp
            path: /tmp
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      hostUsers: true
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 6969
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/{{ .Release.Name }}"
                    operator: DoesNotExist
