---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: crds-prometheus
  namespace: flux-system
spec:
  interval: 12h
  url: https://github.com/prometheus-community/helm-charts.git
  ref:
    # renovate: registryUrl=https://prometheus-community.github.io/helm-charts chart=kube-prometheus-stack
    tag: kube-prometheus-stack-54.1.0
  ignore: |
    # exclude all
    /*
    # include crd directory
    !/charts/kube-prometheus-stack/charts/crds/crds
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 1-core-monitoring-prom-crds
  namespace: flux-system
  labels: # for my repo's Fluxtomization patching, can be ignored for those passing by
    kustomization.flux.home.arpa/name: "kubevirt"
    kustomization.flux.home.arpa/default: "false"
    kustomization.flux.home.arpa/helmpatches: "false"
    substitution.flux.home.arpa/disabled: "true"
    prune.flux.home.arpa/disabled: "true"
spec:
  interval: 30m
  prune: false
  wait: true
  dependsOn: []
  sourceRef:
    kind: GitRepository
    name: crds-prometheus
