---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-secrets
  namespace: *app
spec:
  interval: 5m
  chart:
    spec:
      chart: *app
      version: "0.20.4"
      sourceRef:
        name: *app
        kind: HelmRepository
        namespace: flux-system
  values:
    installCRDs: true
    podLabels: # netpols
      egress.home.arpa/apiserver: "allow"
      egress.home.arpa/onepassword-connect: "allow"
      prom.home.arpa/kps: "allow"
    # scheduling
    replicaCount: 1 # 1Password can't scale
    leaderElect: true
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    resources:
      requests:
        cpu: 25m
      limits:
        cpu: '3'
        memory: 200Mi
    # global:
    #   tolerations:
    #     - operator: Exists
    certController:
      podLabels: # netpols
        egress.home.arpa/apiserver: "allow"
        prom.home.arpa/kps: "allow"
    # monitoring
      serviceMonitor:
        enabled: true
        interval: 1m
      resources:
        requests:
          cpu: 2m
        limits:
          cpu: '1'
          memory: 200Mi
    serviceMonitor:
      enabled: true
      interval: 1m
    webhook:
      #hostNetwork: true
      #port: 59823
      serviceMonitor:
        enabled: true
        interval: 1m
      podLabels: # netpols
        ingress.home.arpa/apiserver: "allow"
        prom.home.arpa/kps: "allow"
      resources:
        requests:
          cpu: 2m
        limits:
          cpu: '1'
          memory: 200Mi
    podSecurityContext:
      fsGroup: 1000
      fsGroupChangePolicy: Always
    # 1Password Connect
    extraContainers:
      - name: onepassword-connect-api
        image: docker.io/1password/connect-api:1.8.1@sha256:8fe7bcd50c9e73899e0a1aa5aa43421ca75fbceacb33dd07f6418c4116e637a1
        imagePullPolicy: IfNotPresent
        env:
          - name: TZ
            value: Asia/Singapore
          - name: OP_BUS_PEERS
            value: 127.0.0.1:60002
          - name: OP_BUS_PORT
            value: "60001"
          - name: OP_HTTP_PORT
            value: "8443"
          - name: OP_SESSION
            value: /config/1password-credentials.json
          - name: OP_LOG_LEVEL
            value: info
          - name: XDG_DATA_HOME
            value: /data
        volumeMounts: &1p-mnt
          - name: 1p
            mountPath: /config
            readOnly: true
          - name: 1p-tmp
            mountPath: /data
        securityContext: &1p-sc
          runAsUser: 999
          runAsNonRoot: true
          seccompProfile: { type: RuntimeDefault }
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop: [ALL]
        resources:
          requests:
            cpu: 300m
          limits:
            cpu: "3"
            memory: 150Mi
      - name: onepassword-connect-sync
        image: docker.io/1password/connect-sync:1.8.1@sha256:d5e937b2b7e314dbbaffacf469dc8f30376b5954a3ad836c8d96e6cb579d7fab
        imagePullPolicy: IfNotPresent
        env:
          - name: TZ
            value: Asia/Singapore
          - name: OP_BUS_PEERS
            value: 127.0.0.1:60001
          - name: OP_BUS_PORT
            value: "60002"
          - name: OP_HTTP_PORT
            value: "57832"
          - name: OP_SESSION
            value: /config/1password-credentials.json
          - name: OP_LOG_LEVEL
            value: info
          - name: XDG_DATA_HOME
            value: /data
        volumeMounts: *1p-mnt
        securityContext: *1p-sc
        resources:
          requests:
            cpu: 10m
          limits:
            cpu: "1"
            memory: 150Mi
    extraVolumes:
      - name: 1p
        secret:
          secretName: onepassword-connect-server
          defaultMode: 0440
      - name: 1p-tmp
        emptyDir: {}
          # medium: Memory
          # sizeLimit: 768Mi
