---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - name: kromgo-config
    namespace: kromgo
    files:
      - config.yaml
#secretGenerator:
#  - name: kromgo-fonts
#    namespace: kromgo
#    files:
#      - 'TimesNewRamen.woff=https://raw.githubusercontent.com/okfocus/times-new-ramen/ca4ebcaff98e0aa4e2746f7d7c0fad09c63e0b67/TimesNewRamen-Regular.woff'
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
