---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.envoyproxy.io/envoyproxy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: envoy
  namespace: ingress
spec:
  logging:
    level:
      default: info
  provider:
    type: Kubernetes
    kubernetes:
      envoyDaemonSet:
        container:
          imageRepository: mirror.gcr.io/envoyproxy/envoy
          resources:
            requests:
              cpu: 30m
            limits:
              cpu: 2
              memory: 1Gi
      envoyService:
        externalTrafficPolicy: Local
  shutdown:
    drainTimeout: 180s
  telemetry:
    metrics:
      prometheus:
        compression:
          type: Gzip
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.envoyproxy.io/backendtrafficpolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: envoy
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/gateway.envoyproxy.io/clienttrafficpolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: envoy
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
  clientIPDetection:
    xForwardedFor:
      # numTrustedHops: 1
      trustedCIDRs: ["${IP_POD_CIDR_V4:=127.0.0.1/32}"]
    # customHeader:
    #   name: CF-Connecting-IP
    #   failClosed: false
  http2:
    onInvalidMessage: TerminateStream
  tls:
    alpnProtocols:
      - http/1.1
      - h2
    minVersion: "1.2"
    maxVersion: "1.3"
    ciphers:
      - ECDHE-ECDSA-AES128-GCM-SHA256
      - ECDHE-ECDSA-AES256-GCM-SHA384
      - ECDHE-ECDSA-CHACHA20-POLY1305
    ecdhCurves:
      - X25519
      - P-256
    signatureAlgorithms:
      - ecdsa_secp256r1_sha256
      - ecdsa_secp384r1_sha384
      - ecdsa_secp521r1_sha512
      - ed25519
  headers:
    enableEnvoyHeaders: false
    disableRateLimitHeaders: true
    requestID: Disable
    lateResponseHeaders:
      remove: ["Server", "X-Powered-By", "X-AspNet-Version", "X-AspNetMvc-Version"]
      set:
        - name: Strict-Transport-Security
          value: max-age=31449600; includeSubDomains; preload
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: https-redirect
  namespace: ingress
  annotations:
    external-dns.alpha.kubernetes.io/controller: none
spec:
  parentRefs:
    - name: envoy-internal
      namespace: ingress
      sectionName: http
    - name: envoy-external
      namespace: ingress
      sectionName: http
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301 # TODO: https://github.com/envoyproxy/gateway/issues/7380
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: harden
  namespace: ingress
  annotations:
    external-dns.alpha.kubernetes.io/controller: none
spec:
  parentRefs:
    - name: envoy-internal
      namespace: ingress
      sectionName: internal
    - name: envoy-external
      namespace: ingress
      sectionName: external
    - name: envoy-external
      namespace: ingress
      sectionName: public
  rules:
    - filters:
        - type: ResponseHeaderModifier
          responseHeaderModifier:
            remove: ["Server", "X-Powered-By", "X-AspNet-Version", "X-AspNetMvc-Version"]
            set:
              - name: Strict-Transport-Security
                value: max-age=31449600; includeSubDomains; preload
    - matches:
        - headers:
            - name: User-Agent
              type: RegularExpression
              value: ".*AddSearchBot.*|.*AI2Bot.*|.*AI2Bot-DeepResearchEval.*|.*Ai2Bot-Dolma.*|.*aiHitBot.*|.*amazon-kendra.*|.*Amazonbot.*|.*AmazonBuyForMe.*|.*Andibot.*|.*Anomura.*|.*anthropic-ai.*|.*Applebot.*|.*Applebot-Extended.*|.*atlassian-bot.*|.*Awario.*|.*bedrockbot.*|.*bigsur.ai.*|.*Bravebot.*|.*Brightbot 1.0.*|.*BuddyBot.*|.*Bytespider.*|.*CCBot.*|.*Channel3Bot.*|.*ChatGLM-Spider.*|.*ChatGPT Agent.*|.*ChatGPT-User.*|.*Claude-SearchBot.*|.*Claude-User.*|.*Claude-Web.*|.*ClaudeBot.*|.*Cloudflare-AutoRAG.*|.*CloudVertexBot.*|.*cohere-ai.*|.*cohere-training-data-crawler.*|.*Cotoyogi.*|.*Crawl4AI.*|.*Crawlspace.*|.*Datenbank Crawler.*|.*DeepSeekBot.*|.*Devin.*|.*Diffbot.*|.*DuckAssistBot.*|.*Echobot Bot.*|.*EchoboxBot.*|.*FacebookBot.*|.*facebookexternalhit.*|.*Factset_spyderbot.*|.*FirecrawlAgent.*|.*FriendlyCrawler.*|.*Gemini-Deep-Research.*|.*Google-CloudVertexBot.*|.*Google-Extended.*|.*Google-Firebase.*|.*Google-NotebookLM.*|.*GoogleAgent-Mariner.*|.*GoogleOther.*|.*GoogleOther-Image.*|.*GoogleOther-Video.*|.*GPTBot.*|.*iAskBot.*|.*iaskspider.*|.*iaskspider/2.0.*|.*IbouBot.*|.*ICC-Crawler.*|.*ImagesiftBot.*|.*imageSpider.*|.*img2dataset.*|.*ISSCyberRiskCrawler.*|.*Kangaroo Bot.*|.*KlaviyoAIBot.*|.*KunatoCrawler.*|.*laion-huggingface-processor.*|.*LAIONDownloader.*|.*LCC.*|.*LinerBot.*|.*Linguee Bot.*|.*LinkupBot.*|.*Manus-User.*|.*meta-externalagent.*|.*Meta-ExternalAgent.*|.*meta-externalfetcher.*|.*Meta-ExternalFetcher.*|.*meta-webindexer.*|.*MistralAI-User.*|.*MistralAI-User/1.0.*|.*MyCentralAIScraperBot.*|.*netEstate Imprint Crawler.*|.*NotebookLM.*|.*NovaAct.*|.*OAI-SearchBot.*|.*omgili.*|.*omgilibot.*|.*OpenAI.*|.*Operator.*|.*PanguBot.*|.*Panscient.*|.*panscient.com.*|.*Perplexity-User.*|.*PerplexityBot.*|.*PetalBot.*|.*PhindBot.*|.*Poggio-Citations.*|.*Poseidon Research Crawler.*|.*QualifiedBot.*|.*QuillBot.*|.*quillbot.com.*|.*SBIntuitionsBot.*|.*Scrapy.*|.*SemrushBot-OCOB.*|.*SemrushBot-SWA.*|.*ShapBot.*|.*Sidetrade indexer bot.*|.*Spider.*|.*TerraCotta.*|.*Thinkbot.*|.*TikTokSpider.*|.*Timpibot.*|.*TwinAgent.*|.*VelenPublicWebCrawler.*|.*WARDBot.*|.*Webzio-Extended.*|.*webzio-extended.*|.*wpbot.*|.*WRTNBot.*|.*YaK.*|.*YandexAdditional.*|.*YandexAdditionalBot.*|.*YouBot.*|.*ZanistaBot.*"
                    # how to get the above from Neovim:
                    # curl -vL 'https://raw.githubusercontent.com/ai-robots-txt/ai.robots.txt/refs/heads/main/robots.txt' | nvim
                    # first half:
                    # :%s/\nUser-agent:/,/g
                    # second half:
                    # :%s/, /*, \~*/g
      filters:
        - type: RequestRedirect
          requestRedirect:
            statusCode: 301
            hostname: www.google.com
            port: 443
            path:
              type: ReplaceFullPath
              replaceFullPath: "/"
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: custom-error-page
  namespace: ingress
  annotations:
    external-dns.alpha.kubernetes.io/controller: none
spec:
  parentRefs:
    - name: envoy-internal
      namespace: ingress
    - name: envoy-external
      namespace: ingress
  rules:
    - filters:
        - type: ExtensionRef
          extensionRef:
            group: gateway.envoyproxy.io
            kind: HTTPRouteFilter
            name: custom-error-page
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/gateway.envoyproxy.io/httproutefilter_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: HTTPRouteFilter
metadata:
  name: custom-error-page
spec:
  directResponse:
    contentType: text/html
    statusCode: 404
    body:
      type: ValueRef
      valueRef:
        group: ""
        kind: ConfigMap
        name: "custom-error-page"
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.envoyproxy.io/securitypolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: ip-all-private-allow
  namespace: ingress
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      matchLabels:
        ip.envoy.internal/all-private: allow
  authorization:
    defaultAction: Deny
    rules:
      - action: Allow
        principal:
          clientCIDRs: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16", "100.64.0.0/10"]
