---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-app
  namespace: &ns immich
  labels: &l
    app.kubernetes.io/name: "immich"
spec:
  targetNamespace: *ns
  commonMetadata:
    labels: *l
  path: ./kube/deploy/apps/immich/app
  components:
    - ../../../core/flux-system/alerts/template/
    - ../../../../repos/flux/helm-oci/app-template/
  dependsOn:
    - name: crds
      namespace: flux-system
    - name: immich-db
    - name: immich-pvc
  postBuild:
    substitute:
      APP_TEMPLATE: 4.6.2
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-pvc
  namespace: &ns immich
  labels: &l
    app.kubernetes.io/name: immich
    pvc.home.arpa/volsync: "true"
spec:
  targetNamespace: *ns
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/storage/volsync/template
  dependsOn:
    - name: crds
      namespace: flux-system
  postBuild:
    substitute:
      PVC: &pvc "immich-data"
      SIZE: "500Gi"
      CACHESIZE: "10Gi"
      SC: &sc "file"
      SNAP: *sc
      ACCESSMODE: "ReadWriteMany"
      SNAP_ACCESSMODE: "ReadOnlyMany"
      VS_APP_CURRENT_VERSION: "ghcr.io/immich-app/immich-server:v2.5.2@sha256:8ac5a6d471fbb6fcfec6bc34854dd5a947c1795547f0d9345d9bf1803d1209e3"
      RUID: !!str &uid |
        ${APP_UID_IMMICH}
      RGID: !!str |
        ${APP_UID_IMMICH}
      RFSG: !!str |
        ${APP_UID_IMMICH}
  healthChecks:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      name: *pvc
      namespace: *ns
    - apiVersion: volsync.backube/v1alpha1
      kind: ReplicationSource
      name: "immich-data-r2-updates-restic"
      namespace: *ns
  healthCheckExprs:
    - apiVersion: volsync.backube/v1alpha1
      kind: ReplicationSource
      current: status.conditions.filter(s, s.status == "False").all(s, s.reason == "WaitingForManual" || s.reason == "WaitingForSchedule") && status.latestMoverStatus.result == "Successful"
      failed: status.latestMoverStatus.result == "Failed" # TODO: add failed conditions
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: immich-db
  namespace: &ns pg
  labels: &l
    prune.flux.home.arpa/enabled: "true"
    db.home.arpa/pg: "pg-home"
    app.kubernetes.io/name: "immich"
spec:
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/db/pg/clusters/template/pguser
  targetNamespace: *ns
  dependsOn:
    - name: 1-core-db-pg-clusters-home
    - name: 1-core-secrets-es-k8s
  postBuild:
    substitute:
      PG_NAME: "home"
      PG_DB_USER: &app "immich"
      PG_APP_NS: *app
      PG_APP_CURRENT_VERSION: "ghcr.io/immich-app/immich-server:v2.5.2@sha256:8ac5a6d471fbb6fcfec6bc34854dd5a947c1795547f0d9345d9bf1803d1209e3"
