---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app trust-manager
  namespace: *app
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: *app
  values:
    crds:
      enabled: true
