---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gotosocial-app
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: "gotosocial"
spec:
  commonMetadata:
    labels: *l
  path: ./kube/deploy/apps/gotosocial/app
  targetNamespace: "gotosocial"
  dependsOn:
    - name: gotosocial-pvc
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gotosocial-pvc
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: "gotosocial"
spec:
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/storage/volsync/template
  targetNamespace: "gotosocial"
  dependsOn:
    - name: 1-core-storage-volsync-app
    - name: 1-core-storage-rook-ceph-cluster
  healthCheckExprs:
    - apiVersion: volsync.backube/v1alpha1
      kind: ReplicationSource
      current: status.conditions.filter(s, s.status == "False").all(s, s.reason == "WaitingForManual" || s.reason == "WaitingForSchedule") && status.latestMoverStatus.result == "Successful"
      # inProgress: status.conditions.filter(s, s.status == "True").all(s, s.reason == "SyncInProgress") # TODO: somehow the inProgress healthCheckExprs CEL expression causes Flux to infinitely think it's inProgress
      failed: status.latestMoverStatus.result == "Failed" # TODO: add failed conditions
  postBuild:
    substitute:
      PVC: "gotosocial-data"
      SIZE: "50Gi"
      SC: &sc "block"
      SNAP: *sc
      ACCESSMODE: "ReadWriteOnce"
      RUID: "65534"
      RGID: "65534"
      RFSG: "65534"
  # patches:
  #   - patch: |-
  #       apiVersion: volsync.backube/v1alpha1
  #       kind: ReplicationDestination
  #       metadata:
  #         name: "gotosocial-data-bootstrap"
  #         namespace: gotosocial
  #       spec:
  #         restic:
  #           restoreAsOf: 2025-12-16T16:00:00+00:00
  #     target:
  #       group: volsync.backube
  #       kind: ReplicationDestination
  #       name: gotosocial-data-bootstrap
  #       namespace: gotosocial
