---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "media-bulk"
  namespace: &app "media"
  annotations:
    description: "PVC for bulk media storage."
  labels:
    app.kubernetes.io/part-of: *app
    snapshot.home.arpa/enabled: "true"
    kustomize.toolkit.fluxcd.io/prune: "Disabled"
spec:
  storageClassName: "file-ec-2-1"
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: "300Gi"
