---
# yaml-language-server: $schema=https://flux.jank.ing/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rclone-retro-app
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: "rclone-retro"
spec:
  targetNamespace: "rclone-retro"
  commonMetadata:
    labels: *l
  path: ./kube/deploy/apps/rclone-retro/app
  components:
    - ../../../core/flux-system/alerts/template/
  dependsOn:
    - name: crds
      namespace: flux-system
    - name: rclone-retro-pvc
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: rclone-retro-pvc
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: rclone-retro
    pvc.home.arpa/volsync: "true"
spec:
  targetNamespace: rclone-retro
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/storage/volsync/template
  dependsOn:
    - name: crds
      namespace: flux-system
  postBuild:
    substitute:
      PVC: "rclone-retro-data"
      SIZE: "50Gi"
      SC: &sc "file"
      SNAP: *sc
      ACCESSMODE: "ReadWriteMany"
      SNAP_ACCESSMODE: "ReadOnlyMany"
      RUID: &uid "1000"
      RGID: *uid
      RFSG: *uid
      VS_APP_CURRENT_VERSION: "ghcr.io/rclone/rclone:1.73.0@sha256:9f59fda717a48aced38d7f27e9ec8fd9992b5651e7a03897bebf204d3a9197d6"
