---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
  namespace: &ns media
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: *ns
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          hostname: "${CLUSTER_NAME:=biohazard}-plex-server"
          labels:
            ingress.home.arpa/jjgadgets: allow
            ingress.home.arpa/appletv: allow
            ingress.home.arpa/envoy-internal: allow
            ingress.home.arpa/envoy-external: allow
            egress.home.arpa/internet: allow
        containers:
          app:
            image: &img
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env: &env
              TZ: "${CONFIG_TZ}"
              PLEX_ADVERTISE_URL: "https://${APP_DNS_PLEX}:443" # ,http://${APP_IP_PLEX}:32400"
              # on first init of Plex, to join to your account by claiming the server, first make sure netpols can hit internet Plex servers, then `kubectl port-forward` the pod or add an LB service to 32400/TCP, then access via a private/localhost IP (MUST BE IP, NOT FQDN) and add /web path, then you can claim the server. Alternatively, add a PLEX_TOKEN env.
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "2" # 1 core causes significant throttling for H265 transcoding with subtitle burn-in on 8th gen Intel despite the QuickSync
                memory: "2Gi"
                gpu.intel.com/i915: "1"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
    service:
      app:
        controller: app
        type: LoadBalancer
        annotations:
          "io.cilium/lb-ipam-ips": "${APP_IP_PLEX:=127.0.0.1}"
        ports:
          http:
            port: 80
            targetPort: *port
            protocol: HTTP
            appProtocol: http
    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "${DNS_CF:=cf}"
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        hostnames: ["${APP_DNS_PLEX:=plex}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
          - name: envoy-external
            namespace: ingress
            sectionName: external
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove: [Range]
            backendRefs:
              - identifier: app
                port: 80
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      data:
        existingClaim: plex-data
        globalMounts:
          - subPath: data
            path: /config
      misc:
        existingClaim: plex-misc
        globalMounts:
          - subPath: cache
            path: /config/Library/Application Support/Plex Media Server/Cache
          - subPath: transcode
            path: transcode
      nfs:
        type: nfs
        server: "${IP_TRUENAS:=127.0.0.1}"
        path: "${PATH_NAS_MEDIA:=/media}"
        globalMounts:
          - path: /nfs
            readOnly: true
      media:
        existingClaim: "media-data" # VolSync
        globalMounts:
          - path: "/ceph"
            readOnly: true
      bulk:
        existingClaim: "media-bulk"
        globalMounts:
          - path: "/ceph-bulk"
            readOnly: true
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 64Mi
        globalMounts:
          - subPath: tmp
            path: /tmp
          - subPath: logs
            path: /config/Library/Application Support/Plex Media Server/Logs
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 6969
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44] # iGPU
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/{{ .Release.Name }}"
                    operator: DoesNotExist
    networkpolicies:
      app:
        controller: plex
        policyTypes: [Ingress, Egress]
        rules:
          ingress:
            - from:
                - podSelector:
                    matchLabels:
                      app.kubernetes.io/name: home-assistant
                  namespaceSelector:
                    matchLabels:
                      kubernetes.io/metadata.name: home-assistant
              ports:
                - port: *port
