---
timezone: Asia/Singapore
data_dir: /data
sources:
  fortigate:
    type: syslog
    address: "[::]:51401"
    mode: tcp
    # permit_origin: ["${IP_ROUTER_VLAN_K8S}/32"]
    max_length: 2048000
    tls:
      enabled: true
      crt_file: /tls/tls.crt
      key_file: /tls/tls.key
transforms:
  fortigate-parse-message:
    inputs: [fortigate]
    type: remap
    source: |
      del(.source_ip)
      del(.source_type)
      del(.version)
      .fortigate = del(.host)
      parsed, err = parse_key_value(.message) ?? null
      . = merge(., parsed)
      if (parsed != null && err != null) {
        del(.message)
      }
      .vdom = del(.vd)
      del(.facility)
      del(.dstuuid)
      del(.poluuid)
      del(.srcuuid)
      del(.sentbyte)
      del(.sentpkt)
      del(.rcvdbyte)
      del(.rcvdpkt)
      del(.duration)
      del(.durationdelta)
      del(.rcvddelta)
      del(.rcvdpktdelta)
      del(.sentdelta)
      del(.sentpktdelta)
      del(.signal)
      del(.snr)
      del(.live)
      del(.srcport)
      del(.transport)
      del(.incidentserialno)
      del(.remotewtptime)
      del(.xid)
  fortigate-del-msg-metrics:
    inputs: [fortigate-parse-message]
    type: remap
    source: |
      del(.message)
      del(.timestamp)
      del(.eventtime)
      del(.tz)
      del(.sessionid)
      del(.cookies)
      del(.msg)
  fortigate-route-logs-for-metrics:
    inputs: [fortigate-del-msg-metrics]
    type: route
    reroute_unmatched: true
    route:
      perf-gauge: '.logid == "0100040704"'
      discard: '.logid == "0100036883"'
  fortigate-convert-metrics:
    inputs: [fortigate-route-logs-for-metrics._unmatched]
    type: log_to_metric
    metrics:
      - type: counter
        field: subtype
        name: "{{ subtype }}"
        namespace: "fortigate_{{ type }}"
        tags:
          "*": "{{ . }}"
  fortigate-perf-metrics:
    inputs: [fortigate-route-logs-for-metrics.perf-gauge]
    type: log_to_metric
    metrics:
      - &perf
        type: gauge
        field: cpu
        namespace: "fortigate_perf"
        tags:
          fortigate: "{{ fortigate }}"
          vdom: "{{ vdom }}"
      - <<: *perf
        field: mem
      - <<: *perf
        field: totalsession
      - <<: *perf
        field: setuprate
      - <<: *perf
        field: sysuptime
      # - <<: *perf # NOTE: unused by my FortiGate 40F
      #   field: disk
      # - <<: *perf
      #   field: disklograte
      # - <<: *perf
      #   field: fazlograte
      # - <<: *perf
      #   field: freediskstorage
sinks:
  vlogs:
    inputs: [fortigate-parse-message]
    type: http
    uri: http://victoria-logs-victoria-logs-single-server.monitoring.svc.cluster.local:9428/insert/jsonline?_stream_fields=fortigate,type,subtype,vd&_msg_field=message&_time_field=date
    request:
      headers:
        AccountID: "51401"
        ProjectID: "0"
    compression: gzip
    encoding:
      codec: json
    framing:
      method: newline_delimited
    healthcheck:
      enabled: false
  prometheus:
    inputs:
      - fortigate-convert-metrics
      - fortigate-perf-metrics
    type: prometheus_exporter
    address: "[::]:$${PROM_HTTP}"
  # stdout:
  #   inputs: [fortigate-parse-message]
  #   type: console
  #   target: stdout
  #   encoding:
  #     codec: json
