---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gotosocial
  namespace: *app
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/nginx-internal: "allow"
            ingress.home.arpa/nginx-public: "allow"
            ingress.home.arpa/cloudflare: "allow"
            db.home.arpa/pg: "pg-gotosocial"
            s3.home.arpa/store: "rgw-${CLUSTER_NAME}"
            authentik.home.arpa/https: "allow"
            egress.home.arpa/internet: "allow"
            prom.home.arpa/kps: "allow"
        containers:
          app:
            image: &img
              repository: "docker.io/superseriousbusiness/gotosocial"
              tag: 0.20.2@sha256:3a195bde145798ff7a18609a06c1b3aa0e42d4c66f2e8708d9901a91d9a667cb
            env: &env
              TZ: "${CONFIG_TZ}"
              GTS_APPLICATION_NAME: "The JJGadgets Hut"
              GTS_LANDING_PAGE_USER: "jj"
              GTS_HOST: &host "social.jjgadgets.tech"
              GTS_ACCOUNT_DOMAIN: "jjgadgets.tech"
              GTS_PROTOCOL: "https" # not HTTP server listen mode, but used for generating URLs etc
              GTS_BIND_ADDRESS: &ip
                valueFrom:
                  fieldRef:
                    apiVersion: v1
                    fieldPath: status.podIP
              GTS_PORT: &http 8080
              GTS_TRUSTED_PROXIES: "${IP_POD_CIDR_V4}"
              GTS_ADVANCED_RATE_LIMIT_EXCEPTIONS: "${IP_JJ_V4}"
              GTS_ACCOUNTS_REGISTRATION_OPEN: "false"
              GTS_LOG_FORMAT: json
              GTS_METRICS_ENABLED: "true"
              OTEL_METRICS_PRODUCERS: prometheus
              OTEL_METRICS_EXPORTER: prometheus
              OTEL_EXPORTER_PROMETHEUS_HOST: *ip
              OTEL_EXPORTER_PROMETHEUS_PORT: &prom 9464
              GTS_OIDC_ENABLED: "true"
              GTS_OIDC_IDP_NAME: "JJGadgets Auth"
              # OIDC secrets in ExternalSecret envFrom
              GTS_DB_TYPE: "sqlite"
              GTS_DB_ADDRESS: "/gotosocial/storage/db/gotosocial.db"
              #GTS_STORAGE_LOCAL_BASE_PATH: &media "/gotosocial/storage/media"
              GTS_STORAGE_BACKEND: "s3"
              GTS_STORAGE_S3_PROXY: "true"
              GTS_STORAGE_S3_USE_SSL: "false"
              GTS_STORAGE_S3_ENDPOINT: "rook-ceph-rgw-${CLUSTER_NAME}.rook-ceph.svc.cluster.local:6953"
              GTS_STORAGE_S3_BUCKET: "gotosocial-media"
              GTS_STORAGE_S3_ACCESS_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "gotosocial-media-s3"
                    key: "AWS_ACCESS_KEY_ID"
              GTS_STORAGE_S3_SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: "gotosocial-media-s3"
                    key: "AWS_SECRET_ACCESS_KEY"
            envFrom: &envFrom
              - secretRef:
                  name: gotosocial-secrets
              - secretRef:
                  name: gotosocial-media-s3
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                cpu: "1"
                memory: 1536Mi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup: # in case of large DB migrations
                enabled: true
                spec:
                  periodSeconds: 1
                  failureThreshold: 14400
    service:
      app:
        controller: app
        ports:
          http:
            primary: true
            port: 80
            targetPort: *http
            protocol: HTTP
            appProtocol: http
          metrics:
            primary: false
            port: *prom
            protocol: HTTP
            appProtocol: http
    route:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: "${DNS_CF:=cf}"
          external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        hostnames: [*host]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
          - name: envoy-external
            namespace: ingress
            sectionName: public
    persistence:
      data:
        existingClaim: gotosocial-data
        advancedMounts:
          app:
            app:
              - subPath: data
                path: /gotosocial/storage
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi
      # pg-ca:
      #   type: secret
      #   #name: pg-authentik-pgbouncer
      #   name: pg-gotosocial-cluster-cert
      #   defaultMode: 0400
      #   globalMounts:
      #     - subPath: ca.crt
      #       path: *pgca
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      hostUsers: false
      securityContext:
        runAsNonRoot: true # TODO: tmp migrate
        runAsUser: &uid 65534
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      dnsConfig: # avoid flooding Cilium dnsproxy
        options:
          - name: ndots
            value: "1"
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: fuckoff.home.arpa/gotosocial
                    operator: DoesNotExist
    networkpolicies:
      same-ns:
        podSelector: {}
        policyTypes: [Ingress, Egress]
        rules:
          ingress: [from: [{podSelector: {}}]]
          egress: [to: [{podSelector: {}}]]
    serviceMonitor:
      app:
        service:
          identifier: app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
