---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app radicale
  namespace: *app
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: *app
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/envoy-internal: allow
        containers:
          app:
            image: &img
              repository: ghcr.io/jjgadgets/radicale
              tag: 3.5.8@sha256:2f550fc808d1a16c0d55f55a1e692bcd4326fc73e5f10f03fcb0718ed5300316
            env: &env
              TZ: "${CONFIG_TZ}"
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1"
                memory: "128Mi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      app:
        controller: app
        ports:
          http:
            port: 8080
            protocol: HTTP
            appProtocol: http
    route:
      app: &route
        hostnames: ["${APP_DNS_RADICALE:=radicale}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
      unauth:
        <<: *route
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /.web
              - path:
                  type: PathPrefix
                  value: /.well-known
    persistence:
      config:
        type: secret
        name: radicale-secrets
        globalMounts:
          - subPath: config
            path: /config/config
      data:
        existingClaim: radicale-data
        globalMounts:
          - subPath: data
            path: /data
      tmp:
        type: emptyDir
        medium: Memory
        globalMounts:
          - subPath: tmp
            path: /tmp
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
        - ip: "${APP_IP_AUTHENTIK_LDAP:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK_LDAP:=authentik}"]
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 65534
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: fuckoff.home.arpa/{{ .Release.Name }}
                    operator: DoesNotExist
