---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gokapi
  namespace: gokapi
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controller:
      strategy: RollingUpdate
    image:
      repository: docker.io/f0rc3/gokapi
      tag: v2.2.2@sha256:c37eeb468293e9e07029c099dc406cc737f61a21b69bb97f1889d98fc5a7bff7
    service:
      main:
        ports:
          http:
            port: 53842
    env:
      GOKAPI_MAX_MEMORY_UPLOAD: "128"
      GOKAPI_PORT: 53842
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-external"
        hosts:
          - host: &host "${APP_DNS_GOKAPI:=gokapi}"
            paths:
            - path: /
              pathType: Prefix
        tls:
          - hosts: [*host]
            secretName: long-domain-tls
    persistence:
      config:
        enabled: true
        type: pvc
        mountPath: /app/config
        readOnly: false
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: block
        retain: true
