---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: gokapi
  namespace: gokapi
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controller:
      strategy: RollingUpdate
    image:
      repository: docker.io/f0rc3/gokapi
      tag: v1.9.6@sha256:ae9094a0ead891eef80499a072e680734bcb34892242f0e232223c65eb4c3af8
    service:
      main:
        ports:
          http:
            port: 53842
    env:
      GOKAPI_MAX_MEMORY_UPLOAD: "128"
      GOKAPI_PORT: 53842
    ingress:
      main:
        enabled: true
        ingressClassName: "nginx-external"
        hosts:
          - host: &host "${APP_DNS_GOKAPI:=gokapi}"
            paths:
            - path: /
              pathType: Prefix
        tls:
          - hosts: [*host]
            secretName: long-domain-tls
    persistence:
      config:
        enabled: true
        type: pvc
        mountPath: /app/config
        readOnly: false
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: block
        retain: true
