---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/gateway.envoyproxy.io/clienttrafficpolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: authentik
  namespace: authentik
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      matchLabels:
        app.kubernetes.io/name: authentik
  tls:
    minVersion: "1.2"
    maxVersion: "1.3"
    ciphers:
      - ECDHE-ECDSA-AES256-GCM-SHA384
      - ECDHE-ECDSA-CHACHA20-POLY1305
    ecdhCurves:
      - X25519MLKEM768
      - X25519
    signatureAlgorithms:
      - ed25519
    clientValidation:
      optional: true
