---
# yaml-language-server: $schema=https://crds.jank.ing/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: &app authentik
  namespace: *app
spec:
  secretName: authentik-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  privateKey:
    algorithm: ECDSA
    size: 256 # Envoy outgoing TLS can't handle this apparently https://github.com/projectcontour/contour/issues/3637#issuecomment-883150725
    rotationPolicy: Always
  commonName: ${DNS_MAIN}
  dnsNames:
    - ${DNS_MAIN}
    - "*.${DNS_MAIN}"
    - "*.tinfoil.${DNS_MAIN}"
---
# yaml-language-server: $schema=https://crds.jank.ing/trust.cert-manager.io/bundle_v1alpha1.json
apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: public-ca
spec:
  sources:
  - useDefaultCAs: true
  target:
    secret:
      key: "ca.crt"
