---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: kube-state-metrics
  namespace: monitoring
spec:
  chart:
    spec:
      chart: kube-state-metrics
      version: 5.30.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    prometheus:
      monitor:
        enabled: true
