---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
  namespace: &ns media
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: *ns
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/envoy-internal: "allow"
            ingress.home.arpa/envoy-external: "allow"
            egress.home.arpa/internet: "allow"
            egress.home.arpa/dlna: "allow"
            authentik.home.arpa/ldap: "allow"
            # egress.home.arpa/r2: "allow"
            # tailscale.com/expose: "true"
        containers:
          app:
            image: &img
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env: &env
              TZ: "${CONFIG_TZ}"
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1"
                memory: "2Gi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  periodSeconds: 1
                  failureThreshold: 3600
                  initialDelaySeconds: 5
    service:
      app:
        controller: app
        ports:
          http:
            port: 80
            targetPort: 8096
            protocol: HTTP
            appProtocol: http
    route:
      app:
        # annotations:
        #   external-dns.alpha.kubernetes.io/target: "${DNS_CF:=cf}"
        #   external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        hostnames: ["${APP_DNS_JELLYFIN:=jellyfin}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
          - name: envoy-external
            namespace: ingress
            sectionName: external
    persistence:
      config:
        existingClaim: jellyfin-data
      transcode:
        type: emptyDir
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 1Gi
      media:
        existingClaim: "media-data" # VolSync
        globalMounts:
          - path: "/ceph"
            readOnly: true
      bulk:
        existingClaim: "media-bulk"
        globalMounts:
          - path: "/ceph-bulk"
            readOnly: true
      nfs:
        type: nfs
        server: "${IP_TRUENAS:=127.0.0.1}"
        path: "${PATH_NAS_MEDIA:=/media}"
        globalMounts:
          - path: /media
            readOnly: true
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      hostUsers: true
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 6969
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        supplementalGroups: [44] # iGPU
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/{{ .Release.Name }}"
                    operator: DoesNotExist
