---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app audiobookshelf
  namespace: *app
spec:
  chart:
    spec:
      chart: app-template
      version: 2.6.0
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      main:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/nginx-internal: "allow"
            egress.home.arpa/world: "allow"
        containers:
          main:
            image:
              repository: "ghcr.io/advplyr/audiobookshelf"
              tag: "2.17.5@sha256:aa88c9f4652872a2a72043511a87d17ec743b60f53e8024e9868ebec5aae59bd"
            env:
              TZ: "${CONFIG_TZ}"
              PORT: &http "8080"
              CONFIG_PATH: &config "/config"
              METADATA_PATH: &meta "/metadata"
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 6000Mi
    service:
      main:
        ports:
          http:
            port: *http
    ingress:
      main:
        enabled: true
        primary: true
        className: "nginx-internal"
        hosts:
          - host: &host "${APP_DNS_AUDIOBOOKSHELF:=audiobookshelf}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: "audiobookshelf-config"
        advancedMounts:
          main:
            main:
              - path: *config
      nfs:
        enabled: true
        type: nfs
        server: "${IP_TRUENAS:=127.0.0.1}"
        path: "${PATH_NAS_MEDIA:=/media}"
        advancedMounts:
          main:
            main:
              - subPath: ".audiobookshelf-metadata"
                path: *meta
              - subPath: "Podcasts"
                path: "/podcasts"
              - subPath: "Audiobooks"
                path: "/audiobooks"
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsUser: &uid ${APP_UID_AUDIOBOOKSHELF:=1000}
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
