---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-app
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: "authentik"
spec:
  commonMetadata:
    labels: *l
  path: ./kube/deploy/apps/authentik/app
  targetNamespace: "authentik"
  dependsOn:
    - name: authentik-db
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-db
  namespace: flux-system
  labels:
    kustomization.flux.home.arpa/helmpatches: "false"
spec:
  path: ./kube/deploy/core/db/pg/clusters/template
  dependsOn:
    - name: 1-core-db-pg-app
    - name: 1-core-storage-democratic-csi-local-hostpath
    - name: 1-core-secrets-es-k8s
  postBuild:
    substitute:
      PG_APP_NAME: &app "authentik"
      PG_APP_NS: *app
      PG_DB_NAME: *app
      PG_DB_USER: *app
      PG_REPLICAS: "3"
      PG_SC: "local"
      PG_CONFIG_VERSION: "15.2-11"
      PG_CONFIG_SIZE: "20Gi"
      PG_APP_CURRENT_VERSION: ghcr.io/goauthentik/server:2025.12.0-rc2@sha256:122f03aff14ea374fc9708fbe711ab8722d54947d908e2d537e151cb6eaf5fe1
  patches:
    - patch: |-
        apiVersion: postgres-operator.crunchydata.com/v1beta1
        kind: PostgresCluster
        metadata:
          name: not-used
        spec:
          patroni:
            dynamicConfiguration:
              postgresql:
                parameters:
                  max_connections: 500
      target:
        group: postgres-operator.crunchydata.com
        kind: PostgresCluster
