---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-app
  namespace: &ns authentik
  labels: &l
    app.kubernetes.io/name: "authentik"
spec:
  targetNamespace: *ns
  commonMetadata:
    labels: *l
  path: ./kube/deploy/apps/authentik/app
  components:
    - ../../../core/flux-system/alerts/template/
    - ../../../../repos/flux/helm-oci/app-template/
  dependsOn:
    - name: crds
      namespace: flux-system
    - name: authentik-db
  postBuild:
    substitute:
      APP_TEMPLATE: 4.6.2
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: authentik-db
  namespace: &ns authentik
  labels: &l
    kustomization.flux.home.arpa/helmpatches: "false"
    app.kubernetes.io/name: "authentik"
spec:
  targetNamespace: *ns
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/db/pg/clusters/template
  dependsOn:
    - name: 1-core-db-pg-app
      namespace: flux-system
    - name: 1-core-storage-democratic-csi-local-hostpath
      namespace: flux-system
    - name: 1-core-secrets-es-k8s
      namespace: flux-system
  postBuild:
    substitute:
      PG_APP_NAME: &app "authentik"
      PG_APP_NS: *app
      PG_DB_NAME: *app
      PG_DB_USER: *app
      PG_REPLICAS: "3"
      PG_SC: "local"
      PG_CONFIG_VERSION: "15.2-11"
      PG_CONFIG_SIZE: "20Gi"
      PG_APP_CURRENT_VERSION: "ghcr.io/goauthentik/server:2025.12.4@sha256:33a92b246b798f23931ce62027e045ecf302c3bc198b6389225973db6448a886"
  patches:
    - patch: |-
        apiVersion: postgres-operator.crunchydata.com/v1beta1
        kind: PostgresCluster
        metadata:
          name: not-used
        spec:
          patroni:
            dynamicConfiguration:
              postgresql:
                parameters:
                  max_connections: 500
      target:
        group: postgres-operator.crunchydata.com
        kind: PostgresCluster
