---
# yaml-language-server: $schema=https://crds.jank.ing/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name biohazard-secrets
  namespace: flux-system
spec:
  refreshInterval: "1m"
  secretStoreRef:
    kind: ClusterSecretStore
    name: 1p
  target:
    name: *name
    creationPolicy: Merge
  dataFrom:
    - extract:
        key: ".biohazard-vars"
    - find:
        name:
          regexp: "^SECRET_*"
