---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app spegel
  namespace: kube-system
spec:
  chart:
    spec:
      chart: spegel
      version: v0.0.29
      sourceRef:
        name: spegel
        kind: HelmRepository
        namespace: flux-system
  values:
    spegel:
      appendMirrors: true
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
      registries:
        # defaults as of 0.0.28
        - https://cgr.dev
        - https://docker.io
        - https://ghcr.io
        - https://quay.io
        - https://mcr.microsoft.com
        - https://public.ecr.aws
        - https://gcr.io
        - https://registry.k8s.io
        - https://k8s.gcr.io
        - https://lscr.io
        # my own
        - https://registry.developers.crunchydata.com
        - https://jank.ing
        - https://jjgadgets.tech
        - https://registry.jjgadgets.tech
        - https://images.jjgadgets.tech
        - https://cr.jjgadgets.tech
        - https://oci.jjgadgets.tech
        - https://containers.jjgadgets.tech
        - https://omgimg.jjgadgets.tech
        - https://containersandshit.jjgadgets.tech
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true
    service:
      registry:
        hostPort: 29999 # host port range conflict (but I somehow haven't hit this?)
