---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app librespeed
  namespace: *app
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: *app
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/envoy-internal: allow
        containers:
          app:
            image: &img
              repository: ghcr.io/librespeed/speedtest-rust
              tag: v1.4.0@sha256:8094b51e5b08964591ee844ebbd6cd301ae8a9b82f4f1918fae6f6dff22089e4
            env: &env
              TZ: "${CONFIG_TZ}"
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1"
                memory: "128Mi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      app:
        controller: app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${APP_IP_LIBRESPEED:=127.0.0.1}"
        ports:
          http:
            port: 80
            targetPort: 8080
            protocol: HTTP
            appProtocol: http
    route:
      app:
        # annotations:
        #   external-dns.alpha.kubernetes.io/target: "${DNS_CF:=cf}"
        #   external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        hostnames: ["${APP_DNS_LIBRESPEED:=librespeed}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
          # - name: envoy-external
          #   namespace: ingress
          #   sectionName: external
    persistence:
      config:
        type: configMap
        name: librespeed-config
        advancedMounts:
          app:
            app:
              - subPath: configs.toml
                path: /usr/local/bin/configs.toml
    configMaps:
      config:
        data:
          configs.toml: |-
            bind_address="0.0.0.0"
            listen_port=8080
            worker_threads=auto # or 1
            redact_ip_addresses=true
            result_image_theme="dark"
            database_type="none"
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 1000
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/{{ .Release.Name }}"
                    operator: DoesNotExist
