---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: linkding-app
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: "linkding"
spec:
  targetNamespace: "linkding"
  commonMetadata:
    labels: *l
  path: ./kube/deploy/apps/linkding/app
  components:
    - ../../../core/flux-system/alerts/template/
  dependsOn:
    - name: crds
      namespace: flux-system
    - name: linkding-pvc
    - name: linkding-snapshots-pvc
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: linkding-pvc
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: linkding
    pvc.home.arpa/volsync: "true"
spec:
  targetNamespace: linkding
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/storage/volsync/template
  dependsOn:
    - name: crds
      namespace: flux-system
  postBuild:
    substitute:
      PVC: "linkding-data"
      SIZE: "10Gi"
      SC: &sc "file"
      SNAP: *sc
      ACCESSMODE: "ReadWriteMany"
      SNAP_ACCESSMODE: "ReadOnlyMany"
      VS_APP_CURRENT_VERSION: "ghcr.io/sissbruecker/linkding:1.44.2-plus@sha256:6d4d3d62cd07c80935a1420cc7cc2f7ac5522843d20f3612cff711243af2aeda"
      RUID: &uid "1000"
      RGID: *uid
      RFSG: *uid
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: linkding-snapshots-pvc
  namespace: flux-system
  labels: &l
    app.kubernetes.io/name: linkding
    pvc.home.arpa/volsync: "true"
spec:
  targetNamespace: linkding
  commonMetadata:
    labels: *l
  path: ./kube/deploy/core/storage/volsync/template
  dependsOn:
    - name: crds
      namespace: flux-system
  postBuild:
    substitute:
      PVC: "linkding-snapshots"
      SIZE: "100Gi"
      SC: "file-ec-2-1"
      SNAP: "file"
      ACCESSMODE: "ReadWriteMany"
      SNAP_ACCESSMODE: "ReadOnlyMany"
      VS_APP_CURRENT_VERSION: "ghcr.io/sissbruecker/linkding:1.44.2-plus@sha256:6d4d3d62cd07c80935a1420cc7cc2f7ac5522843d20f3612cff711243af2aeda"
      RUID: &uid "1000"
      RGID: *uid
      RFSG: *uid
