---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app vikunja
  namespace: *app
spec:
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: "2.6.0"
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      main:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/nginx-internal: "allow"
            authentik.home.arpa/https: "allow"
            db.home.arpa/pg: "pg-home"
            prom.home.arpa/kps: "allow"
        containers:
          main:
            image: &img
              repository: "docker.io/vikunja/vikunja"
              tag: "0.24.6@sha256:ed1f3ed467fecec0b57e9de7bc6607f8bbcbb23ffced6a81f5dfefc794cdbe3b"
            command: ["/app/vikunja/vikunja"] # bypass entrypoint script, TODO: PR gcr.io/distroless:cc to upstream?
            env:
              VIKUNJA_SERVICE_TIMEZONE: "${CONFIG_TZ}"
              VIKUNJA_SERVICE_JWTSECRET:
                valueFrom:
                  secretKeyRef:
                    name: "vikunja-secrets"
                    key: "VIKUNJA_SERVICE_JWTSECRET"
              VIKUNJA_SERVICE_JWTTTL: "86400" # 1 day
              VIKUNJA_SERVICE_JWTTTLLONG: "1209600" # 2 weeks
              VIKUNJA_SERVICE_INTERFACE: ":8080"
              VIKUNJA_SERVICE_PUBLICURL: "${APP_DNS_VIKUNJA}"
              VIKUNJA_SERVICE_MAXITEMSPERPAGE: "200"
              VIKUNJA_SERVICE_ENABLEREGISTRATION: "${CONFIG_VIKUNJA_REGISTRATION:=false}"
              VIKUNJA_SERVICE_CUSTOMLOGOURL: "https://raw.githubusercontent.com/JJGadgets/images/main/icon.png"
              VIKUNJA_SENTRY_ENABLED: "false"
              VIKUNJA_DATABASE_TYPE: "postgres"
              VIKUNJA_DATABASE_HOST:
                valueFrom:
                  secretKeyRef:
                    name: &pgsec "pg-home-pguser-vikunja"
                    key: "pgbouncer-host"
              VIKUNJA_DATABASE_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: *pgsec
                    key: "dbname"
              VIKUNJA_DATABASE_USER:
                valueFrom:
                  secretKeyRef:
                    name: *pgsec
                    key: "user"
              VIKUNJA_DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pgsec
                    key: "password"
              VIKUNJA_DATABASE_SSLMODE: "require"
              VIKUNJA_DATABASE_SSLROOTCERT: "/tls/pg-ca.crt"
              VIKUNJA_METRICS_ENABLED: "true"
              VIKUNJA_LOG_PATH: "/dev/stdout"
              VIKUNJA_DEFAULTSETTINGS_AVATAR_PROVIDER: "initials"
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
                memory: "128Mi"
              limits:
                cpu: "3000m"
                memory: "6000Mi"
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        primary: true
        className: "nginx-internal"
        hosts:
          - host: &host "${APP_DNS_VIKUNJA:=vikunja}"
            paths: &paths
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      config:
        enabled: true
        type: secret
        name: "vikunja-secrets"
        advancedMounts:
          main:
            main:
              - subPath: "config.yml"
                path: "/etc/vikunja/config.yml"
                readOnly: true
      pg:
        enabled: true
        type: secret
        name: "pg-home-ca"
        defaultMode: 0400
        advancedMounts:
          main:
            main:
              - subPath: "ca.crt"
                path: "/tls/pg-ca.crt"
                readOnly: true
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid ${APP_UID_VIKUNJA:=1000}
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: "Always"
        seccompProfile: { type: "RuntimeDefault" }
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: "DoNotSchedule"
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/vikunja"
                    operator: "DoesNotExist"
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: "/api/v1/metrics"
            interval: 1m
            scrapeTimeout: 30s
