---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app inspircd
  namespace: kah
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    global:
      fullnameOverride: *app
    automountServiceAccountToken: false
    controller:
      type: deployment
      replicas: 1
    image:
      repository: docker.io/inspircd/inspircd-docker
      tag: 3.18.0@sha256:211fbf86d5336318987bfa954409e9b28e03197cdc419cb7790835d3cafba543
    env:
      TZ: "${CONFIG_TZ}"
    service:
      main:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        annotations:
          "io.cilium/lb-ipam-ips": "${APP_IP_KAHIRC}"
        ports:
          http:
            enabled: false
            primary: false
          server:
            enabled: true
            primary: true
            port: 7001
            protocol: TCP
          client:
            enabled: true
            port: 6697
            protocol: TCP
    podSecurityContext:
      # must run as UID/GID 10000, entrypoint script doesn't explicitly check for UID/GID 10000 but refuses to run if /inspircd/conf has missing files and can't be written to, as it is chown'd by UID/GID 10000 by default
      # to run as another user, ensure ALL files it expects in /inspircd/conf including cert.pem, key.pem and dhparams.txt are mounted
      runAsUser: &uid 10000
      runAsGroup: *uid
      fsGroup: *uid
      fsGroupChangePolicy: Always
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 6000Mi
    persistence:
      config:
        enabled: true
        type: configMap
        name: inspircd-config
        subPath: inspircd.conf
        mountPath: /inspircd/conf/inspircd.conf
        readOnly: true
      config-server:
        enabled: true
        type: secret
        name: inspircd-secrets
        subPath: server.conf
        mountPath: /inspircd/conf/server.conf
        readOnly: true
      config-links:
        enabled: true
        type: secret
        name: inspircd-secrets
        subPath: links.conf
        mountPath: /inspircd/conf/links.conf
        readOnly: true
      config-opers:
        enabled: true
        type: configMap
        name: inspircd-config
        subPath: opers.conf
        mountPath: /inspircd/conf/opers.conf
        readOnly: true
      config-motd:
        enabled: true
        type: configMap
        name: inspircd-config
        subPath: motd.txt
        mountPath: /inspircd/conf/motd.txt
        readOnly: true
      config-cloak:
        enabled: true
        type: secret
        name: inspircd-secrets
        subPath: cloak.conf
        mountPath: /inspircd/conf/cloak.conf
        readOnly: true
      tls-fullchain:
        enabled: true
        type: secret
        name: kah-tls
        subPath: tls.crt
        mountPath: /inspircd/tls/tls.crt
        readOnly: true
      tls-privkey:
        enabled: true
        type: secret
        name: kah-tls
        subPath: tls.key
        mountPath: /inspircd/tls/tls.key
        readOnly: true
    configMaps:
      config:
        enabled: true
        data:
          motd.txt: |
            Welcome to the home of Tinfoil Hat Sensei.

          inspircd.conf: |
            <include file="/inspircd/conf/server.conf">
            <include file="/inspircd/conf/opers.conf">
            <include file="/inspircd/conf/links.conf">
            <include file="/inspircd/conf/cloak.conf">

            <server
                name="&servername;"
                description="&serverdesc;"
                network="cni">

            <admin
                name="&opername;"
                nickname="&opername;"
                description="&operdesc;"
                email="&opermail;">

            <gnutls onrehash="yes">
            <sslprofile name="certmanager"
                provider="gnutls"
                cafile=""
                certfile="/inspircd/tls/tls.crt"
                crlfile=""
                dhfile=""
                hash="sha256"
                keyfile="/inspircd/tls/tls.key"
                mindhbits="1024"
                outrecsize="2048"
                priority="SECURE256:-CIPHER-ALL:+AES-256-GCM:+CHACHA20-POLY1305:-KX-ALL:+ECDHE-RSA:+ECDHE-ECDSA:-COMP-ALL:-VERS-ALL:+VERS-TLS1.2:+VERS-TLS1.3:-GROUP-ALL:+GROUP-SECP521R1:+GROUP-X25519:+GROUP-X448"
                requestclientcert="no"
                strictpriority="yes">

            <bind
                address="0.0.0.0"
                port="6697"
                type="clients"
                sslprofile="certmanager"
                defer="0"
                free="no">

            <bind address="" port="6667" type="clients">

            <connect deny="3ffe::0/32" reason="The 6bone address space is deprecated">

            <connect
                name="main"
                allow="*"
                maxchans="1000"
                timeout="20"
                pingfreq="2m"
                hardsendq="1M"
                softsendq="10240"
                recvq="10K"
                threshold="10"
                commandrate="1000"
                fakelag="yes"
                localmax="3"
                globalmax="3"
                resolvehostnames="yes"
                useident="no"
                limit="5000"
                modes="+x">

            <files motd="/inspircd/conf/motd.txt">

            <maxlist chan="*" limit="100">

            <options
                prefixquit="Quit: "
                suffixquit=""
                prefixpart="&quot;"
                suffixpart="&quot;"
                syntaxhints="no"
                cyclehostsfromuser="no"
                announcets="yes"
                allowmismatch="no"
                defaultbind="auto"
                hostintopic="no"
                pingwarning="15"
                serverpingfreq="1m"
                splitwhois="no"
                defaultmodes="not"
                xlinemessage="Feel the wrath of the almighty Thor!"
                modesinlist="no"
                extbanformat="name"
                exemptchanops="filter:o nickflood:o nonick:v regmoderated:o"
                invitebypassmodes="yes"
                nosnoticestack="no">

            <performance
                netbuffersize="10240"
                somaxconn="128"
                softlimit="12800"
                clonesonconnect="yes"
                timeskipwarn="2s"
                quietbursts="yes">

            <security
                announceinvites="dynamic"
                hideservices="no"
                flatlinks="no"
                hideservicekills="yes"
                hidesplits="no"
                maxtargets="20"
                restrictbannedusers="yes"
                genericoper="no"
                userstats="Pu">

            <limits
                maxaway="200"
                maxchan="60"
                maxhost="64"
                maxident="10"
                maxkey="30"
                maxkick="300"
                maxmodes="20"
                maxnick="30"
                maxquit="300"
                maxreal="130"
                maxtopic="330">

            # method="stdout" doesn't log properly
            <log method="file"
                target="/dev/stdout"
                level="debug"
                type="* -USERINPUT -USEROUTPUT">

            <whowas
                groupsize="10"
                maxgroups="100000"
                maxkeep="3d">

            <badhost host="root@*" reason="Don't IRC as root!">

            <insane
                hostmasks="no"
                ipmasks="no"
                nickmasks="no"
                trigger="20">

            <bind address="0.0.0.0"
                port="7001"
                type="servers"
                sslprofile="certmanager">

            <hostname charmap="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ.-_/0123456789">

            <module name="alias">
            <module name="bcrypt">
            <module name="cap">
            <module name="chghost">
            <module name="chgident">
            <module name="chgname">
            <module name="conn_umodes">
            <module name="hidechans">
            <module name="operchans">
            <module name="password_hash">
            <module name="services_account">
            <module name="spanningtree">
            <module name="ssl_gnutls">
            <module name="svshold">
            <mkpasswd operonly="no">
            <bcrypt rounds="10">

          opers.conf: |
            <class
                name="Shutdown"
                commands="DIE RESTART REHASH LOADMODULE UNLOADMODULE RELOADMODULE GLOADMODULE GUNLOADMODULE GRELOADMODULE"
                privs="users/auspex channels/auspex servers/auspex users/mass-message users/flood/no-throttle users/flood/increased-buffers"
                usermodes="*"
                chanmodes="*"
                snomasks="*">

            <class name="SACommands" commands="SAJOIN SAPART SANICK SAQUIT SATOPIC SAKICK SAMODE OJOIN">
            <class name="ServerLink" commands="CONNECT SQUIT RCONNECT RSQUIT MKPASSWD ALLTIME SWHOIS" usermodes="*" chanmodes="*" privs="servers/auspex" snomasks="Cc">
            <class name="BanControl" commands="KILL GLINE KLINE ZLINE QLINE ELINE TLINE RLINE CHECK NICKLOCK NICKUNLOCK SHUN CBAN" usermodes="*" chanmodes="*" snomasks="Xx">
            <class name="OperChat" commands="WALLOPS GLOBOPS" usermodes="*" chanmodes="*" privs="users/mass-message" snomasks="Gg">
            <class name="HostCloak" commands="SETHOST SETIDENT SETIDLE CHGNAME CHGHOST CHGIDENT" usermodes="*" chanmodes="*" privs="users/auspex">

            <type
                name="NetAdmin"
                classes="SACommands OperChat BanControl HostCloak Shutdown ServerLink"
                vhost="netadmin.&servername;"
                maxchans="1000"
                modes="+s +cCqQ">

            <oper
                name="&opername;"
                hash="bcrypt"
                password="&operhash;"
                host="100.10*.*.*"
                type="NetAdmin">
