---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app phanpy
  namespace: flux-system
spec:
  targetNamespace: *app
  install:
    createNamespace: true
  chart:
    spec:
      chart: app-template
      version: 4.0.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    global:
      fullnameOverride: *app
    automountServiceAccountToken: false
    controller:
      type: deployment
      replicas: 1
    image:
      repository: "ghcr.io/jjgadgets/phanpy"
      tag: "rolling" # versioning is weird
    podLabels:
      ingress.home.arpa/nginx-internal: "allow"
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        primary: true
        ingressClassName: "nginx-internal"
        hosts:
          - host: &host "phanpy.${DNS_SHORT}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 512Mi
