---
# yaml-language-server: $schema=https://flux.jank.ing/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: default-backend
  namespace: ingress
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    podLabels:
      ingress.home.arpa/nginx-internal: "allow"
      ingress.home.arpa/nginx-external: "allow"
      ingress.home.arpa/nginx-public: "allow"
    controller:
      type: daemonset
    image:
      repository: "registry.jjgadgets.tech/jjgadgets/jjgadgets-error-page-ingress-nginx"
      tag: "1.0.0-caddy-2.7.5@sha256:5e0e09a23522dc7af059ad560b047137c37da539dd162fb2b0d602592bf8682e"
    service:
      main:
        ports:
          http:
            port: 80
            targetPort: 8080
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 256Mi
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "default-error-page-short"
  namespace: default
  annotations:
    external-dns.alpha.kubernetes.io/target: "${DNS_SHORT_CF}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
spec:
  ingressClassName: "nginx-internal"
  rules:
  - host: &host "error.${DNS_SHORT}"
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: default-backend
            port:
              number: 80
  tls:
  - hosts:
    - *host
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "default-error-page-long"
  namespace: default
  annotations:
    external-dns.alpha.kubernetes.io/target: "${DNS_MAIN_CF}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
spec:
  ingressClassName: "nginx-internal"
  rules:
  - host: &host "error.${DNS_MAIN}"
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: default-backend
            port:
              number: 80
  tls:
  - hosts:
    - *host
