---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-ngx
  namespace: *app
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: *app
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/nginx-internal: allow
            authentik.home.arpa/https: allow
        containers:
          app:
            image: &img
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.1@sha256:98528e58787e48c73748608e8d4c03b1692c185e69fc237c00c44d3b4f68b335
            env:
              PAPERLESS_URL: "https://${APP_DNS_PAPERLESS_NGX}"
              PAPERLESS_PORT: &port 8000
              PAPERLESS_TIME_ZONE: "${CONFIG_TZ}"
              PAPERLESS_WEBSERVER_WORKERS: "2" # TODO: use fieldRef for this
              PAPERLESS_TASK_WORKERS: "2"
              PAPERLESS_REDIS: "unix:///sockets/redis.sock"
              PAPERLESS_CONSUMPTION_DIR: &consume "/data/consume"
              PAPERLESS_DATA_DIR: &pvc "/data/data" # including PVC
              PAPERLESS_EXPORT_DIR: &export "/data/export"
              PAPERLESS_MEDIA_ROOT: &media "/data/media"
              PAPERLESS_TRASH_DIR: &trash "/data/trash"
              PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
              # PAPERLESS_SOCIALACCOUNT_PROVIDERS in ES envFrom
              PAPERLESS_TRUSTED_PROXIES: "${IP_POD_CIDR_V4}"
              PAPERLESS_OCR_LANGUAGES: "eng"
              PAPERLESS_OCR_LANGUAGE: "eng"
              PAPERLESS_CONSUMER_POLLING: "60" # 1 minute, inotify doesn't work over NFS
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_TIKA_ENABLED: "true"
              PAPERLESS_TIKA_ENDPOINT: "http://tika.paperless-ngx.svc.cluster.local"
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: "http://gotenberg.paperless-ngx.svc.cluster.local"
              USERMAP_UID: &uid 1000
              USERMAP_GID: *uid
            envFrom:
              - secretRef:
                  name: "paperless-ngx-secrets"
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1"
                memory: "512Mi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup: # in case of large DB migrations
                enabled: true
                spec:
                  periodSeconds: 1
                  failureThreshold: 300
                  initialDelaySeconds: 10
          redis:
            image:
              repository: "public.ecr.aws/docker/library/redis"
              tag: "8.4.0-bookworm@sha256:43355efd22490e31ca14b9d569367d05121e2be61fd8e47937563ae2a80952ae"
            command: ["redis-server", "--save", "''", "--appendonly", "no", "--port", "0", "--bind", "127.0.0.1", "--unixsocket", "/sockets/redis.sock", "--unixsocketperm", "700"] # save and appendonly options forcibly disable RDB and AOF persistence entirely
            securityContext: *sc
            resources:
              requests:
                cpu: "10m"
                memory: "32Mi"
              limits:
                cpu: "1000m"
                memory: "512Mi"
      tika:
        type: deployment
        replicas: 1
        containers:
          main:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
            securityContext: *sc
            resources: # TODO: adjust (Java app)
              requests:
                cpu: "10m"
                memory: "256Mi"
              limits:
                cpu: "1"
                memory: "1Gi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
      gotenberg:
        type: deployment
        replicas: 1
        containers:
          main:
            image:
              repository: "docker.io/gotenberg/gotenberg"
              tag: "8.25.0@sha256:e304e45acee3c400f8ef76afa195c76b1d0eaf0ab6fe9651e305067ab6a1560c"
            command: ["gotenberg", "--chromium-disable-javascript=true", "--chromium-allow-list=file:///tmp/.*"]
            securityContext: *sc
            resources: # TODO: adjust (Go app)
              requests:
                cpu: "10m"
                memory: "64Mi"
              limits:
                cpu: "1"
                memory: "1Gi"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    service:
      app:
        controller: app
        ports:
          http:
            port: 80
            targetPort: *port
            protocol: HTTP
            appProtocol: http
      tika:
        controller: tika
        ports:
          http:
            port: 80
            targetPort: 9998
            protocol: HTTP
            appProtocol: http
      gotenberg:
        controller: gotenberg
        ports:
          http:
            port: 80
            targetPort: 3000
            protocol: HTTP
            appProtocol: http
    ingress:
      app:
        className: nginx-internal
        hosts:
          - host: &host "${APP_DNS_PAPERLESS_NGX:=paperless-ngx}"
            paths: &paths
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: [*host]
    persistence:
      data:
        existingClaim: paperless-ngx-data
        advancedMounts:
          app:
            app:
              - subPath: "consume"
                path: *consume
              - subPath: "data"
                path: *pvc
              - subPath: "export"
                path: *export
              - subPath: "media"
                path: *media
              - subPath: "trash"
                path: *trash
      # nfs:
      #   type: nfs
      #   server: "${IP_TRUENAS:=127.0.0.1}"
      #   path: ${PATH_NAS_PERSIST_K8S:=/data}/paperless-ngx
      #   globalMounts:
      #     - path: /nfs
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 16Mi
        globalMounts:
          - subPath: tmp
            path: /tmp
        advancedMounts:
          app:
            app:
              - subPath: "run"
                path: "/run"
              - subPath: "apt"
                path: "/var/lib/apt"
              - &sockdir
                subPath: "sockets"
                path: "/sockets"
            redis:
              - *sockdir
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      # hostUsers: true
      # securityContext:
      #   runAsNonRoot: true
      #   runAsUser: &uid ${APP_UID_PAPERLESS-NGX:=1000}
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: *uid # hardcoded `paperless` user
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: "{{ .Release.Name }}"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/{{ .Release.Name }}"
                    operator: DoesNotExist
    networkpolicies:
      same-ns:
        podSelector: {}
        policyTypes: [Ingress, Egress]
        rules:
          ingress: [from: [{podSelector: {}}]]
          egress: [to: [{podSelector: {}}]]
