---
# yaml-language-server: $schema=https://crds.jank.ing/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: long-domain
  namespace: default
spec:
  secretName: long-domain-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  privateKey:
    algorithm: ECDSA
    size: 384
  commonName: ${DNS_MAIN}
  dnsNames:
    - ${DNS_MAIN}
    - "*.${DNS_MAIN}"
    - "*.default.${DNS_MAIN}"
