---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.0/mutatingadmissionpolicybinding-admissionregistration-v1beta1.json
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: cryptpad-de-escalate-netpols
  namespace: cryptpad
spec:
  policyName: cryptpad-de-escalate-netpols
  paramRef:
    parameterNotFoundAction: Allow
    namespace: cryptpad
    selector:
      matchLabels:
        app.kubernetes.io/name: cryptpad
        app.kubernetes.io/instance: cryptpad
        app.kubernetes.io/controller: app
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/v1.34.0/mutatingadmissionpolicy-admissionregistration-v1beta1.json
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicy
metadata:
  name: cryptpad-de-escalate-netpols
  namespace: cryptpad
spec:
  paramKind:
    apiVersion: v1
    kind: Pod
  matchConstraints:
    resourceRules:
    - apiGroups: [rbac.authorization.k8s.io]
      apiVersions: [v1]
      operations: ["*"]
      resources: [Role]
      scope: "Namespaced"
  failurePolicy: Ignore
  reinvocationPolicy: IfNeeded
  mutations:
    - patchType: "JSONPatch"
      jsonPatch:
        expression: >
          [
            JSONPatch{op: "replace", path: "/rules/0/resourceNames/0", value: params.metadata.name}
          ]
