---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/apps.emqx.io/emqx_v2beta1.json
apiVersion: apps.emqx.io/v2beta1
kind: EMQX
metadata:
  name: &app emqx
  namespace: emqx
spec:
  image: public.ecr.aws/emqx/emqx:5.8.4@sha256:c7da53f8de64f9d932b09b581c9b43e758d734d0c5a867511ce4452ef6b9b15a
  config:
    # the `$${env}` in the env var means Flux's Kustomize controller should escape the envsubst and output `${env}` exactly
    data: |
      authentication {
        enable = true
        backend = "built_in_database"
        mechanism = "password_based"
        password_hash_algorithm {
            name = "bcrypt"
        }
        user_id_type = "username"
        bootstrap_file = "/secrets/init-user.json"
        bootstrap_type = "plain"
      }
      authorization {
        no_match = "deny"
        deny_action = "ignore"
        sources = [{
          enable = true
          type = file
          path = "/secrets/acl.conf"
        }]
      }
      listeners.ssl.default {
        bind = "0.0.0.0:8883"
        ssl_options {
          certfile = "/tls/cert.pem"
          keyfile = "/tls/key.pem"
          gc_after_handshake = true
          # no mTLS
          verify = verify_none
          fail_if_no_peer_cert = false
        }
      }
  # bootstrapAPIKeys:
  #   - secretRef:
  #       key:
  #         secretName: emqx-secrets
  #         secretKey: X_EMQX_APIKEY_KEY
  #       secret:
  #         secretName: emqx-secrets
  #         secretKey: X_EMQX_APIKEY_SECRET
  coreTemplate:
    spec:
      replicas: 2
      envFrom: &envFrom
        - secretRef:
            name: emqx-secrets
      #volumeClaimTemplates:
      #  storageClassName: local
      #  accessModes: [ReadWriteOnce]
      #  resources:
      #    requests:
      #      storage: 1Gi
      extraVolumes:
        - name: emqx-secrets
          secret:
            secretName: emqx-secrets
        - name: tls
          secret:
            secretName: short-domain-tls
      extraVolumeMounts:
        - name: emqx-secrets
          subPath: init-user.json
          mountPath: /secrets/init-user.json
          readOnly: true
        - name: emqx-secrets
          subPath: acl.conf
          mountPath: /secrets/acl.conf
          readOnly: true
        - name: tls
          subPath: tls.crt
          mountPath: /tls/cert.pem
          readOnly: true
        - name: tls
          subPath: tls.key
          mountPath: /tls/key.pem
          readOnly: true
  #     topologySpreadConstraints:
  #       - maxSkew: 1
  #         topologyKey: kubernetes.io/hostname
  #         whenUnsatisfiable: DoNotSchedule
  #         labelSelector:
  #           matchLabels:
  #             apps.emqx.io/instance: *app
  #             apps.emqx.io/db-role: core
  # listenersServiceTemplate:
  #   metadata:
  #     annotations:
  #       coredns.io/hostname: "${APP_DNS_EMQX}"
  #       io.cilium/lb-ipam-ips: "${APP_IP_EMQX}"
  #   spec:
  #     type: LoadBalancer
