---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app trilium
  namespace: *app
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: *app
  values:
    controllers:
      app:
        type: deployment
        replicas: 1
        pod:
          labels:
            ingress.home.arpa/envoy-internal: allow
            authentik.home.arpa/oidc: allow
        containers:
          app:
            image: &img
              repository: ghcr.io/triliumnext/trilium
              tag: v0.101.3@sha256:f9c978d08f24af19e58c7e3230218a5a6a0ab889ac261e25edb847ebd3762ff4
            command: ["node", "./main.cjs"]
            env: &env
              TZ: "${CONFIG_TZ}"
              TRILIUM_GENERAL_INSTANCE_NAME: "${CLUSTER_NAME:=k8s}"
              TRILIUM_ENV: production
              TRILIUM_DATA_DIR: &pvc /data
              TRILIUM_NETWORK_PORT: &http 8080
              TRILIUM_NETWORK_TRUSTEDREVERSEPROXY: "${IP_POD_CIDR_V4:=127.0.0.1/32}"
              TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHBASEURL: "https://${APP_DNS_TRILIUM}"
              TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHISSUERNAME: "JJGadgets Auth"
              TRILIUM_MULTIFACTORAUTHENTICATION_OAUTHISSUERICON: "https://jjgadgets.tech/images/favicon.png"
            envFrom: &envFrom
              - secretRef:
                  name: trilium-secrets
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: "10m"
              limits:
                cpu: "1"
                memory: "200Mi"
            ports:
              - name: http
                containerPort: *http
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                port: http
                path: /api/health-check
              readiness: *probe
    service:
      app:
        controller: app
        ports:
          http:
            port: 80
            targetPort: *http
            protocol: HTTP
            appProtocol: http
    route:
      app:
        hostnames: ["${APP_DNS_TRILIUM:=trilium}"]
        parentRefs:
          - name: envoy-internal
            namespace: ingress
            sectionName: internal
    persistence:
      data:
        existingClaim: trilium-data
        advancedMounts:
          app:
            app:
              - subPath: data
                path: *pvc
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 16Mi
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostAliases:
        - ip: "${APP_IP_AUTHENTIK:=127.0.0.1}"
          hostnames: ["${APP_DNS_AUTHENTIK:=authentik}"]
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: &uid 1001 # upstream trilium user
        runAsGroup: *uid
        fsGroup: *uid
        fsGroupChangePolicy: Always
        seccompProfile: { type: "RuntimeDefault" }
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: "fuckoff.home.arpa/{{ .Release.Name }}"
                    operator: DoesNotExist
