---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app bird
  namespace: *app
spec:
  chart:
    spec:
      chart: app-template
      version: "4.0.1"
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    controllers:
      main:
        type: daemonset
        initContainers:
        containers:
          main: &ct
            image:
              repository: "registry.jjgadgets.tech/jjgadgets/bird"
              tag: "2.14-r0"
            securityContext:
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: "10m"
                memory: "100Mi"
              limits:
                cpu: "500m"
                memory: "350Mi"
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: configMap
        name: "bird-config"
        globalMounts:
          - subPath: "bird.conf"
            path: "/etc/bird.conf"
            readOnly: true
      tmp:
        enabled: true
        type: emptyDir
        medium: Memory
        advancedMounts:
          main:
            main:
              - subPath: "main-tmp"
                path: "/tmp"
                readOnly: false
              - subPath: "main-run"
                path: "/run"
                readOnly: false
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        seccompProfile: {type: "RuntimeDefault"}
      dnsPolicy: "ClusterFirstWithHostNet"
      hostNetwork: true
