---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app miniflux
  namespace: *app
spec:
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        name: bjw-s
        kind: HelmRepository
        namespace: flux-system
  values:
    global:
      fullnameOverride: *app
    automountServiceAccountToken: false
    controller:
      type: deployment
      replicas: 1
    image:
      repository: "ghcr.io/miniflux/miniflux"
      tag: "2.2.4-distroless@sha256:c09492e6c353ab15c8aae824dd2c0c4247dc84d1ef0ac795226155365465343d"
    podLabels:
      ingress.home.arpa/nginx-internal: "allow"
      db.home.arpa/pg: "pg-default"
      egress.home.arpa/internet: "allow"
      egress.home.arpa/nginx-external: "allow" # authentik
    env:
      TZ: "${CONFIG_TZ}"
      BASE_URL: "https://${APP_DNS_MINIFLUX}"
      RUN_MIGRATIONS: "1"
      CREATE_ADMIN: "1"
      OAUTH2_PROVIDER: oidc
      OAUTH2_REDIRECT_URL: https://${APP_DNS_MINIFLUX}/oauth2/oidc/callback
      OAUTH2_OIDC_DISCOVERY_ENDPOINT: https://${APP_DNS_AUTH}/application/o/miniflux/
      OAUTH2_USER_CREATION: "1"
      DATABASE_URL:
        valueFrom:
          secretKeyRef:
            name: &pgsec "pg-default-pguser-miniflux"
            key: "pgbouncer-uri"
    envFrom:
      - secretRef:
          name: miniflux-secrets
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        primary: true
        ingressClassName: "nginx-internal"
        hosts:
          - host: &host "${APP_DNS_MINIFLUX:=miniflux}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: &uid ${APP_UID_MINIFLUX:=1000}
      runAsGroup: *uid
      fsGroup: *uid
      fsGroupChangePolicy: Always
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        cpu: 3000m
        memory: 512Mi
