use_default_settings:
  engines:
    keep_only:
      - arch linux wiki
      - google
      - google images
      - google news
      - google videos
      - google scholar
      - google play apps
      - duckduckgo
      - brave
      - startpage
      - gitlab
      - github
      - codeberg
      - sourcehut
      - bitbucket
      - apple app store
      - wikipedia
      - currency
      - docker hub
      - ddg definitions
      - duckduckgo images
      - bandcamp
      - deviantart
      - tineye
      - apple maps
      - fdroid
      - flickr
      - free software directory
      - z-library
      - lobste.rs
      - azlyrics
      - openstreetmap
      - npm
      - pypi
      - lib.rs
      - nyaa
      - reddit
      - sepiasearch
      - soundcloud
      - stackoverflow
      - askubuntu
      - superuser
      - searchcode code
      - unsplash
      - youtube
      - wolframalpha
      - mojeek
engines:
  - name: brave
    disabled: false
  - name: startpage
    disabled: false
  - name: apple app store
    disabled: false
  - name: ddg definitions
    disabled: false
  - name: tineye
    disabled: false
  - name: apple maps
    disabled: false
  - name: duckduckgo images
    disabled: false
  - name: fdroid
    disabled: false
  - name: free software directory
    disabled: false
  - name: bitbucket
    disabled: false
  - name: gitlab
    disabled: false
  - name: codeberg
    disabled: false
  - name: google play apps
    disabled: false
  - name: lobste.rs
    disabled: false
  - name: azlyrics
    disabled: false
  - name: npm
    disabled: false
  - name: nyaa
    disabled: false
    categories: videos
  - name: searchcode code
    disabled: false
  - name: mojeek
    disabled: false
  - name: lib.rs
    disabled: false
  - name: sourcehut
    disabled: false
general:
  instance_name: "JJGadgets Search"
  enable_metrics: false
brand:
  new_issue_url: ""
  docs_url: ""
  public_instances: ""
  wiki_url: ""
  issue_url: ""
search:
  safe_search: 0
  default_lang: "en"
  max_page: 0
server:
  bind_address: "0.0.0.0"
  port: 8080
  base_url: "https://${APP_DNS_SEARXNG}/"
  image_proxy: true
  http_protocol_version: "1.1"
  method: "GET"
outgoing:
  extra_proxy_timeout: 30
  proxies:
    all://:
      - socks5://10.64.0.1:1080
ui:
  static_use_hash: true
  infinite_scroll: true
  default_theme: "simple"
  theme_args:
    simple_style: "dark"
enabled_plugins:
  - 'Basic Calculator'
  - 'Unit converter plugin'
  - 'Hash plugin'
  - 'Search on category select'
  - 'Self Information'
  - 'Self Informations'
  - 'Tracker URL remover'
  - 'Open Access DOI rewrite'
  - 'Vim-like hotkeys'
  - 'Hostnames plugin'
plugins:
  searx.plugins.hostnames.SXNGPlugin:
    active: true
  searx.plugins.tracker_url_remover.SXNGPlugin:
    active: true
hostnames:
  replace:
    '(.*\.)?youtube\.com$': '${APP_DNS_PIPED_FRONTEND}'
    '(.*\.)?youtu\.be$': '${APP_DNS_PIPED_FRONTEND}'
    '(.*\.)?reddit\.com$': '${APP_DNS_LIBREDDIT}'
    '(.*\.)?redd\.it$': '${APP_DNS_LIBREDDIT}'
    '(.*\.)?medium\.com$': 'scribe.rip'
  remove:
    - baeldung.com
redis:
  url: "unix:///redis/redis.sock?db=0"
    # NOTE: Search engines disabled:
    # - archive.is (too many requests)

