---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: node-exporter
  namespace: node-exporter
spec:
  chart:
    spec:
      chart: prometheus-node-exporter
      version: 4.47.3
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    nameOverride: node-exporter
    podLabels:
      prom.home.arpa/kps: "allow"
    hostNetwork: true # to get node-level network metrics, else it'll only show the pod's network metrics
    rbac:
      pspEnabled: false
    resources:
      requests:
        cpu: 23m
        memory: 64Mi
      limits:
        cpu: 250m
        memory: 256Mi
    prometheus:
      monitor:
        enabled: true
        # TODO: set default intervals to debug memory spikes
        interval: "30s"
        scrapeTimeout: "15s"
        relabelings:
          # replaces other node identifiers with hostname
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: kubernetes_node
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: nodename
          - action: replace
            regex: (.*)
            replacement: $1.${CLUSTER_NAME}:9100
            sourceLabels:
              - kubernetes_node
            targetLabel: instance
